<template>
  <div class="row">
    <!-- <pre>{{ $data.state_address }}</pre> -->
    <div class="col-md-12">
      <form enctype="multipart/form-data" class="companies-form" method="POST" @submit.prevent="save">
        <div class="panel">
          <div class="panel-heading">
            <button type="submit" class="btn button-caution-flat">
              Guardar
            </button>
            <button type="button" class="btn btn-default" @click="$router.go(-1)">
              Descartar
            </button>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                  <ul class="nav nav-tabs" role="tablist" style="border-bottom:0px;">
                    <li role="presentation" class="active partner_category">
                      <a href="#" aria-controls="aditional" role="tab" data-toggle="tab" @click="changePartnerCategory" data-category="1">RUC</a>
                    </li>
                    <li role="presentation" class="partner_category">
                      <a href="#" aria-controls="contacts" role="tab" data-toggle="tab" @click="changePartnerCategory" data-category="2">DNI</a>
                    </li>
                    <li role="presentation" class="partner_category">
                      <a href="#" aria-controls="bank_accounts" role="tab" data-toggle="tab" @click="changePartnerCategory" data-category="3">Otras Empresas</a>
                    </li>
                    <li role="presentation" class="partner_category">
                      <a href="#" aria-controls="bank_accounts" role="tab" data-toggle="tab" @click="changePartnerCategory" data-category="4">Otras Personas</a>
                    </li>
                  </ul>
                </div>
                <br>
                <br>
                <br>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-4">
                    <div class="picture">
                      <img id="img-thumb" src="img/no-picture.png" alt="Imagen" @click="clickPicture" class="img-responsive img-circle" />
                      <input type="file" id="picture" class="hide" @change="onImgChance" accept="image/*" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <select class="form-control" v-model="form.partner_category_id">
                            <option :value="null">Seleccione categoría socio</option>
                            <option v-for="category in partner_categories" :value="category.id">
                              {{ category.name }}
                            </option>
                          </select>
                          <span v-if="errors.partner_category_id" v-text="errors.partner_category_id" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select name="document_type" v-model="form.document_type" class="form-control">
                            <option :value="null">Seleccione Tipo Doc</option>
                            <option v-for="doc in document_types" :value="doc.id">
                              {{ doc.name }}
                            </option>
                          </select>
                          <span v-if="errors.document_type" v-text="errors.document_type" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="text" v-model="form.document_number" class="form-control" placeholder="Número Doc" />
                            <span class="input-group-addon" @click="requestInformation">
                              <i class="fa fa-fw fa-search"></i>
                            </span>
                          </div>
                          <span v-if="errors.document_number" v-text="errors.document_number" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" v-model="form.name" class="form-control" placeholder="Razón Social/Nombre" />
                          <span v-if="errors.name" v-text="errors.name" class="text-danger"></span>
                        </div>
                        <div class="form-group partner-2-4 hide">
                          <input type="text" class="form-control" v-model="form.first_lastname" placeholder="Apellido Paterno" />
                          <span v-if="errors.first_lastname" v-text="errors.first_lastname" class="text-danger"></span>
                        </div>
                        <div class="form-group partner-2-4 hide">
                          <input type="text" class="form-control" v-model="form.second_lastname" placeholder="Apellido Materno" />
                          <span v-if="errors.second_lastname" v-text="errors.second_lastname" class="text-danger"></span>
                        </div>
                        <div class="form-group partner-1">
                          <textarea rows="3" v-model="form.address" class="form-control" placeholder="Dirección Búsqueda SUNAT/RENIEC"></textarea>
                          <span v-if="errors.address" v-text="errors.address" class="text-danger"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group text-center">
                      <input type="checkbox" name="status" id="status" v-model="form.status" />
                    </div>
                  </div>
                  <div id="div_countries" class="col-md-12 hide">
                    <div class="form-group">
                      <label>
                        <input type="checkbox" name="international" id="international" value="1" v-model="form.is_international" class="icheck" />
                        Internacional
                      </label>
                    </div>
                    <div class="form-group">
                      <label>Países</label>
                      <select class="form-control" v-model="form.country_id" id="country_id">
                        <option v-for="country in countries" :value="country.id">
                          {{ country.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-2 text-right">
                    <label>Dirección</label>
                  </div>
                  <div class="col-md-10">
                    <div class="form-group">
                      <input type="text" v-model="form.street" class="form-control" placeholder="Calle" />
                      <span v-if="errors.street" v-text="errors.street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <input type="text" v-model="form.street2" class="form-control" placeholder="Calle 2" />
                    </div>
                    <div class="form-group">
                      <input type="text" v-model="form.reference" class="form-control" placeholder="Referencia" />
                      <span v-if="errors.reference" v-text="errors.reference" class="text-danger"></span>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select id="state" v-model="form.state_id" class="form-control" @change="loadState">
                            <option :value="null">
                              Seleccionar Estado
                            </option>
                            <option v-for="state in states" :value="state.id">
                              {{ state.name }}
                            </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <select id="district" v-model="form.district_id" class="form-control">
                            <option :value="null">
                              Seleccionar Distrito
                            </option>
                            <option v-for="district in districts" :value="district.id">
                              {{ district.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select id="province" v-model="form.province_id" class="form-control" @change="loadProvince">
                            <option :value="null">
                              Seleccionar Provincia
                            </option>
                            <option v-for="province in provinces" :value="province.id">
                              {{ province.name }}
                            </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <input type="text" name="zip" v-model="form.zip" class="form-control" placeholder="ZIP" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" name="anotherCity" v-model="form.anotherCity" class="form-control" 
                        placeholder="Otra Ciudad" />
                    </div>
                  </div>
                  <div class="col-md-2 text-right">
                    <label>Sitio Web</label>
                  </div>
                  <div class="col-md-10">
                    <input type="text" name="website" v-model="form.website" class="form-control" placeholder="Sitio Web" />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="form-group">
                    <input type="text" v-model="form.contact.name" class="form-control" placeholder="Contacto" />
                    <span v-if="errors.contact" v-text="errors.contact.phone" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <input type="text" v-model="form.contact.phone" class="form-control" placeholder="Teléfono" />
                    <span v-if="errors.contact" v-text="errors.contact.phone" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <input type="text" v-model="form.contact.cellphone" class="form-control" placeholder="Celular" />
                    <span v-if="errors.contact" v-text="errors.contact.cellphone" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <input type="text" v-model="form.contact.fax" class="form-control" placeholder="Fax" />
                  </div>
                  <div class="form-group">
                    <input type="text" v-model="form.contact.email" class="form-control" placeholder="Email" />
                    <span v-if="errors.contact" v-text="errors.contact.email" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <input type="text" v-model="form.contact.register" class="form-control" placeholder="Registro" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#aditional" aria-controls="aditional" role="tab" data-toggle="tab">Datos Adicionales</a>
                  </li>
                  <li role="presentation">
                    <a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contactos y Direcciones</a>
                  </li>
                  <li role="presentation">
                    <a href="#bank_accounts" aria-controls="bank_accounts" role="tab" data-toggle="tab">Nro Cuentas Bancarias</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="aditional">
                    <br>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="col-md-6">
                            <div class="input-group">
                              <span class="input-group-addon">@</span>
                              <input type="text" class="form-control" placeholder="Otro ID" v-model="form.another_id">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group">
                              <span class="input-group-addon">@</span>
                              <input type="text" class="form-control" placeholder="Código EAN" v-model="form.ean_code">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <br>
                            <input type="text" class="form-control" placeholder="Nombre Comercial" v-model="form.comercial_name" />
                          </div>
                        </div>
                        <div class="col-md-6" style="padding-bottom:20px;">
                          <div class="form-group">
                            <label for="input-text" class="col-sm-5 control-label">Límite de Crédito</label>
                            <div class="col-sm-7">
                              <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" v-model="form.credit_limit">
                              </div>
                            </div>
                          </div>
                          <br>
                          <br>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-5 control-label">Límite de Débito</label>
                            <div class="col-sm-7">
                              <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" v-model="form.debit_limit">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea name="comments" rows="4" class="form-control" v-model="form.comments" placeholder="Comentarios"></textarea>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="text-danger">Ventas</label>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-5 control-label">Es un cliente</label>
                            <div class="col-sm-7">
                              <input type="checkbox" id="is-client" v-model="form.is_client" class="icheck" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="input-text" class="col-sm-5 control-label">Tarifa de Venta:</label>
                                <div class="col-sm-7">
                                  <select class="form-control" v-model="form.sale_rate_id">
                                    <option v-for="sale_rate in sale_rates" :value="sale_rate.id">
                                      {{ sale_rate.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="input-text" class="col-sm-5 control-label">Plazo pago cliente:</label>
                                <div class="col-sm-7">
                                  <select class="form-control" v-model="form.client_payment_condition">
                                    <option v-for="condition in payment_conditions" :value="condition.id">
                                      {{ condition.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="text-danger">Compras</label>
                          <div class="form-group">
                            <label for="input-text" class="col-sm-5 control-label">Es un proveedor</label>
                            <div class="col-sm-7">
                              <input type="checkbox" id="is-provider" v-model="form.is_provider" class="icheck">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="input-text" class="col-sm-5 control-label">Moneda de Proveedor:</label>
                                <div class="col-sm-7">
                                  <select class="form-control" v-model="provider_currency_id">
                                    <option v-for="currency in currencies" :value="currency.id">
                                      <!-- {{ currency.iso }} -->
                                      {{ currency.iso }} - {{ currency.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="input-text" class="col-sm-5 control-label">Términos de pago:</label>
                                <div class="col-sm-7">
                                  <select class="form-control" v-model="form.provider_payment_condition">
                                    <option v-for="condition in payment_conditions" :value="condition.id">
                                      {{ condition.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="contacts">
                    <br>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="text-danger">
                            Direcciones
                            <a href="javascript:void(0)" class="text-danger pull-right" @click="addressModal">Agregar</a>
                          </h5>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Tipo</th>
                                  <th>Dirección</th>
                                  <th>Estado</th>
                                  <th>Provincia</th>
                                  <th>Distrito</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="address in form.addresses">
                                  <td>{{ address.type }} <!-- {{ getTypeDirection(address.type, types_directions) }} --></td>
                                  <td>{{ address.address }}</td>
                                  <td>{{ getState(address.state, states_address).name}}</td>
                                  <td>{{ getProvince(address.state, states_address, address.province).name }}</td>
                                  <td>{{ getDistrict(address.state, states_address, address.province, address.district, districts_address).name }}</td>
                                  <td>
                                    <a href="#" @click.prevent="supr(address, 'addresses', $event)" class="btn btn-xs btn-danger">
                                      <i class="fa fa-fw fa-trash"></i>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <h5 class="text-danger">
                            Contactos
                            <a href="javascript:void(0)" class="text-danger pull-right" @click="contactsModal">Agregar</a>
                          </h5>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Tipo</th>
                                  <th>Nombre</th>
                                  <th>Cargo</th>
                                  <th>Teléfono</th>
                                  <th>Celular</th>
                                  <th>Fax</th>
                                  <th>Email</th>
                                  <th>Web</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="contact in form.contacts">
                                  <td>
                                    {{ contact.type }}
                                  </td>
                                  <td>
                                    {{ contact.name }}
                                  </td>
                                  <td>
                                    {{ contact.position }}
                                  </td>
                                  <td>
                                    {{ contact.phone }}
                                  </td>
                                  <td>
                                    {{ contact.cellphone }}
                                  </td>
                                  <td>
                                    {{ contact.fax }}
                                  </td>
                                  <td>
                                    {{ contact.email }}
                                  </td>
                                  <td>
                                    {{ contact.website }}
                                  </td>
                                  <td>
                                    <a href="#" @click.prevent="supr(contact, 'contacts', $event)" class="btn btn-xs btn-danger">
                                      <i class="fa fa-fw fa-trash"></i>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="bank_accounts">
                    <br>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="text-danger">
                            Cuentas Bancarias
                            <a href="javascript:void(0)" class="text-danger pull-right" @click="bankAccountsModal">Agregar</a>
                          </h5>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Banco</th>
                                  <th>Tipo Cuenta</th>
                                  <th>Moneda</th>
                                  <th>Nro Cuenta (Sin Espacios)</th>
                                  <th>Nro Cuenta</th>
                                  <th>CCI</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="account in form.bank_accounts">
                                  <td>
                                    {{ getBank(account.bank, banks).name }}
                                  </td>
                                  <td>
                                    {{ getTypeAccount(account.type_account, type_accounts_bank).name }}
                                  </td>
                                  <td>
                                    {{ getCurrency(account.currency, currencies).name }}
                                  </td>
                                  <td>
                                    {{ account.account_number }}
                                  </td>
                                  <td>
                                    {{ account.account_number_format }}
                                  </td>
                                  <td>
                                    {{ account.cci }}
                                  </td>
                                  <td>
                                    <a href="#" @click.prevent="supr(account, 'banks', $event)" class="btn btn-xs btn-danger">
                                      <i class="fa fa-fw fa-trash"></i>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addressesModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:red;">
              Registro Dirección
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tipo/Categoría Dirección</label>
                  <select v-model="address_type" class="form-control">
                    <option :value="null">Seleccione Tipo Dirección</option>
                    <option :value="1">Dirección 1</option>
                  </select>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" v-model="address_principal" placeholder="Jiron/Calle/Avenida" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Dirección Adicional</label>
                  <input type="text" class="form-control" v-model="address_aditional" placeholder="Urbanización/Condominio" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Referencia</label>
                  <input type="text" class="form-control" v-model="address_reference" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Ciudad/Barrio</label>
                  <input type="text" class="form-control" v-model="address_city" />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Código Postal</label>
                  <input type="text" class="form-control" v-model="address_postal_code" placeholder="ZIP" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Estado</label>
                  <select v-model="state_address" class="form-control" @change="loadStateAddress">
                    <option v-for="state in states_address" :value="state.id">
                      {{ state.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Provincia</label>
                  <select v-model="province_address" class="form-control" @change="loadProvinceAddress">
                    <option v-for="province in provinces_address" :value="province.id">
                      {{ province.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Distrito</label>
                  <select v-model="district_address" class="form-control">
                    <option v-for="district in districts_address" :value="district.id">
                      {{ district.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default btn-default" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-default btn-success" @click="addAddress">
              Agregar Dirección
            </button>
          </div>
        </div>
      </div>
    </div> 
    <div class="modal fade" id="contactsModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:red;">
              Contactos
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Tipo de datos contacto</label>
                  <select v-model="contact.type_contact" class="form-control">
                    <option :value="null">Seleccione Tipo Contacto</option>
                    <option :value="1">Contacto 1</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nombre Contacto</label>
                  <input type="text" v-model="contact.name" class="form-control" placeholder="Nombre Apellido Contacto">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Cargo/Función</label>
                  <input type="text" v-model="contact.position" class="form-control" placeholder="Cargo/Función">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" v-model="contact.phone" class="form-control" placeholder="Teléfono Fijo" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" v-model="contact.fax" class="form-control" placeholder="Fax" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Celular</label>
                  <input type="text" v-model="contact.cellphone" class="form-control" placeholder="Celular" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" v-model="contact.email" class="form-control" placeholder="contacto@email.com" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Website</label>
                  <input type="text" v-model="contact.website" class="form-control" placeholder="www.tudominio.com" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Comentario</label>
                  <textarea type="text" v-model="contact.comment" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default btn-default" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-default btn-success" @click="addContacts">
              Agregar Contacto
            </button>
          </div>
        </div>
      </div>
    </div> 
    <div class="modal fade" id="bankAccountsModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:red;">
              Cuentas Bancarias
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo de cuenta</label>
                  <select class="form-control" v-model="type_account_bank">
                    <option :value="null">Seleccione tipo de cuenta</option>
                    <option v-for="type_account in type_accounts_bank" :value="type_account.id">
                      {{ type_account.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Banco</label>
                  <select class="form-control" v-model="bank">
                    <option :value="null">Seleccione Banco</option>
                    <option v-for="bank in banks" :value="bank.id">
                      {{ bank.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <label>Moneda</label>
                <div class="form-group">
                  <select class="form-control" v-model="bank_currency_id">
                    <option :value="null">Seleccione Moneda</option>
                    <option v-for="currency in currencies" :value="currency.id">
                      {{ currency.iso }} - {{ currency.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nro de Cuenta</label>
                  <input type="text" class="form-control" v-model="bank_account_number" placeholder="191123456099" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nro de Cuenta con Formato</label>
                  <input type="text" class="form-control" v-model="bank_account_number_format" placeholder="191-123456-0-99" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>CCI</label>
                  <input type="text" class="form-control" v-model="bank_cci" placeholder="Código Cuenta Intercambiaria" />
                </div>
              </div>
              <div class="col-md-6">
                <label>
                  <input type="checkbox" v-model="bank_disabled" />
                  Deshabilitado
                </label>
                <br>
                <span>
                  <i class="fa fa-fw fa-info-circle"></i>
                  No podrá seleccionar esta cuenta <br> en futuras operaciones
                </span>
              </div>
              <div class="col-md-6">
                <label>
                  <input type="checkbox" v-model="bank_show_comprobants" />
                  Mostrar en comprobantes
                </label>
                <br>
                <span>
                  <i class="fa fa-fw fa-info-circle"></i>
                  Se mostrará la cuenta en los comprobantes electrónicos <br>
                  Marcar esta opción sólo en el registro de compañías
                </span>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default btn-default" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-default btn-success" @click="addBankAccout">
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import FormError from './../../mixins/FormErrorsMix';
  import Helper from './../../mixins/HelpersMix';
  import axios from 'axios';

  export default {
    mixins: [Bus, FormError, Helper],

    data: () => {
      return {
        form:{
          client_type: 1,
          status: false,
          picture: null,
          partner_category_id: null,
          address: null,
          name: null,
          document_type: null,
          document_number: null,
          first_lastname: null,
          second_lastname: null,
          street: null,
          street2: null,
          reference: null,
          contact: {
            name: null,
            phone: null,
            cellphone: null,
            fax: null,
            email: null,
            register: null
          },
          another_id: null,
          ean_code: null,
          credit_limit: null,
          comercial_name: null,
          debit_limit: null,
          comments: null,
          state_id: null,
          province_id: null,
          district_id: null,
          is_client: false,
          sale_rate_id: null,
          client_payment_condition: null,
          is_provider: false,
          provider_currency: 161,
          provider_payment_condition: null,
          country_id: null,
          is_international: false,
          contacts: [],
          addresses: [],
          bank_accounts: [],

          deleteAddresses: [],
          deleteContacts: [],
          deleteBanks: [],

        },

        currencies: [],
        partner_categories: [],
        document_types: [],
        payment_conditions: [],
        sale_rates: [],

        //data
        id: null,
        countries: [],
        states: [],
        provinces: [],
        districts: [],

        contact: {
          type_contact: null,
          name: null,
          position: null,
          phone: null,
          cellphone: null,
          fax: null,
          email: null,
          website: null,
          comment: null,
        },

        address_type: null,
        address_principal: null,
        address_aditional: null,
        address_reference: null,
        address_city: null,
        address_postal_code: null,
        states_address:[],
        provinces_address:[],
        districts_address:[],
        state_address: null,
        province_address: null,
        district_address: null,

        provider_currency_id: 161,

        banks: [],
        type_accounts_bank: [],
        bank: null,
        type_account_bank: null,
        bank_currency_id: null,
        bank_account_number: null,
        bank_account_number_format: null,
        bank_cci: null,
        bank_disabled: false,
        bank_show_comprobants: false,

        url: '/clients'
      };
    },

    watch: {
      "form.status": (e) => {
        if (e) {
          $('#status').lcs_on();
        }else{
          $('#status').lcs_off();
        }
      },

      "form.client_type": (e) => {
        e = parseInt(e);

        switch (e) {
          case 1:
            $('#div_countries').addClass('hide');
            $('#label_contact').html('Contacto:');

            $('.partner-2-4').addClass('hide');
            $('.partner-1').removeClass('hide');
          break;

          case 2:
            $('#div_countries').addClass('hide');
            $('#label_contact').html('Cargo:');

            $('.partner-2-4').removeClass('hide');
            $('.partner-1').addClass('hide');
          break;

          case 3:
            $('#label_contact').html('Contacto:');
            $('#div_countries').removeClass('hide');
          break;
          case 4:
            $('#label_contact').html('Contacto:');
            $('#div_countries').removeClass('hide');
          break;
        }

        $('li.active.partner_category').removeClass('active');

        $('li.partner_category a[data-category='+ e +']').parent().addClass('active');
      }
    },

    created(){
      axios.get('/currencies').then((data) => {
        this.currencies = data.data;
      });

      axios.get('/states').then((data) => {
        this.states = data.data;

        this.state_address = this.states[0].id;
        this.states_address = this.states;

        this.provinces = this.states[0].provinces;

        this.provinces_address = this.states[0].provinces;
        this.province_address = this.provinces_address[0].id;

        this.districts = this.provinces[0].districts;

        this.districts_address = this.provinces_address[0].districts;
        this.district_address = this.districts_address[0].id;
      });

      axios.get('/banks').then((data) => {
        this.banks = data.data;
      });

      axios.get('/type-accounts').then((data) => {
        this.type_accounts_bank = data.data
      });

      axios.get('/countries').then((data) => {
        this.countries = data.data;
      });

      axios.get('/partner-categories').then((data) => {
        this.partner_categories = data.data;
      });

      axios.get('/documents-type').then((data) => {
        this.document_types = data.data;
      });

      axios.get('/sales-rate').then((data) => {
        this.sale_rates = data.data;
      });

      axios.get('/payment-conditions').then((data) => {
        this.payment_conditions = data.data;
      });

      if(this.$route.params.id != 'create'){

        this.url += '/' + this.$route.params.id;

        axios.get(this.url).then((data) => {
          data = data.data;

          for(var i in data){
            for(var j in this.form){
              if (i == j) {
                this.form[j] = data[i];
              }
            }
          }

          data.accounts.forEach((account) => {
            this.form.bank_accounts.push({
              id: account.id,
              bank: account.bank_id,
              type_account: account.type_account_id,
              currency: account.currency_id,
              account_number: account.account_number,
              account_number_format: account.account_number_format,
              cci: account.bank_cci,
              show_in_comprobants: account.show_in_comprobants,
              disabled: account.disabled
            });
          })

          console.log(this.form);

          Bus.$emit('breadcump', {
            title: 'Clientes',
            pages: ['Dashboard', 'Clientes', this.form.name, 'Editar']
          });
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Clientes',
        pages: ['Dashboard', 'Clientes', 'Nuevo']
      });
    },

    mounted(){
      $('#status').lc_switch('Activo', 'Inactivo');

      $('body').delegate('#status', 'lcs-statuschange', (e) => {
        this.form.status = e.target.checked;
      });

      $('.icheck').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue'
      });

      $('#country_id').attr('disabled', true);

      $('#international').on('ifChanged', (e) => {
        $('#country_id').attr('disabled', this.form.is_international);

        this.form.is_international = !this.form.is_international;

        $('#state, #province, #district').attr('disabled', this.form.is_international);
      });

      $('#is-client').on('ifChanged', (e) => {
        this.form.is_client = !this.form.is_client;
      });

      $('#is-provider').on('ifChanged', (e) => {
        this.form.is_provider = !this.form.is_provider;
      });

      $('#status').on('lcs-statuschange', function(){
        this.form.status = !this.form.status;
      });
    },

    methods: {
      changePartnerCategory(e) {
        this.form.client_type = e.target.dataset.category;
      },
      clickPicture() {
        $('#picture').trigger('click');
      },
      onImgChance(e) {
        let files = e.target.files || e.dataTransfer.files;

        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        let reader = new FileReader();

        reader.onload = (e) => {
          this.form.picture = e.target.result;

          document.querySelector('#img-thumb').src = this.form.picture;
        };

        reader.readAsDataURL(file);
      },

      loadState(){
        let state = this.states.filter(element => element.id == this.form.state_id);

        if (state.length < 1) {
          return;
        }

        this.provinces = state[0].provinces;
        this.form.province_id = this.provinces[0].id;

        this.districts = this.provinces[0].districts;
        this.form.district_id = this.districts[0].id;
      },

      loadProvince(){
        let province = this.provinces.filter(element => element.id == this.form.province_id);

        if (province.length < 1) {
          return;
        }

        this.districts = province[0].districts;
        this.form.district_id = this.districts[0].id;
      },

      loadStateAddress(){
        if (!this.state_address) {
          return;
        }

        let state = this.states_address.filter(element => element.id == this.state_address);

        if (state.length < 1) {
          return;
        }

        this.provinces_address = state[0].provinces;
        this.province_address = this.provinces_address[0].id;

        this.districts_address = this.provinces_address[0].districts;
        this.district_address = this.districts_address[0].id;
      },
      loadProvinceAddress(){
        let province = this.provinces_address.filter(element => element.id == this.province_address);

        if (province.length < 1) {
          return;
        }

        this.districts_address = province[0].districts;
        this.district_address = this.districts_address[0].id;
      },

      addressModal(){
        $('#addressesModal').modal();
      },

      contactsModal(){
        $('#contactsModal').modal();
      },

      addContacts(){
        this.form.contacts.push({
          type: this.contact.type_contact,
          name: this.contact.name,
          position: this.contact.position,
          phone: this.contact.phone,
          cellphone: this.contact.cellphone,
          fax: this.contact.fax,
          email: this.contact.email,
          website: this.contact.website,
          comment: this.contact.comment,
        });

        $('#contactsModal .close').trigger('click');
      },

      bankAccountsModal(){
        $('#bankAccountsModal').modal();
      },

      addAddress(){
        this.form.addresses.push({
          type: this.address_type,
          address: this.address_principal,
          address_aditional: this.address_aditional,
          reference: this.address_reference,
          city: this.address_city,
          zip: this.address_postal_code,
          state: this.state_address,
          province: this.province_address,
          district: this.district_address,
        });

        $('#addressesModal .close').trigger('click');
      },

      addBankAccout(){
        this.form.bank_accounts.push({
          bank: this.bank,
          type_account: this.type_account_bank,
          account_number: this.bank_account_number,
          account_number_format: this.bank_account_number_format,
          cci: this.bank_cci,
          currency: this.bank_currency_id,
          disabled: this.bank_currency_id,
          show_in_comprobants: this.bank_show_comprobants,
        });

        $('#bankAccountsModal .close').trigger('click');
      },

      requestInformation(){
        if (this.form.client_type == '2') {

          axios.post('/client-information', {
            dni: this.form.document_number,
          }).then((data) => {
            let response = data.data;

            if (typeof response == 'string') {
              new swal(response);

              this.form.first_lastname = '';
              this.form.second_lastname = '';

              this.form.name = '';
              return;
            }

            this.form.first_lastname = response.apellido_paterno;
            this.form.second_lastname = response.apellido_materno;

            this.form.name = response.nombres;
          });

          return;
        }

        axios.post('/client-information', {
          ruc: this.form.document_number,
        }).then((data) => {
          let response = data.data;

          if (typeof response == 'string') {
            new swal('El ruc que ha ingresado no existe');

            this.form.name = '';
            this.form.address = '';

            $('#status').lcs_off();

            return;
          }

          this.form.name = response.razon_social;
          this.form.address = response.direccion;

          if (response.estado_contribuyente == 'ACTIVO') {
            $('#status').lcs_on();
          }
        });
      },

      save(e){
        var button = e.target.disabled = true;

        if (this.url == '/clients') {
          axios.post(this.url, this.form).then((data) => {
            swal('Se ha agregado el nuevo socio/cliente correctamente');

            button.disabled = false;
          }).catch((errors) => {
            let error = errors.response.data;

            this.setErrors(error.errors);
          });
          return;
        }

        axios.put(this.url, this.form).then((data) => {
          swal('Se ha modificado la información del socio/cliente correctamente');

          button.disabled = false;
        }).catch((errors) => {
          let error = errors.response.data;

          this.setErrors(error.errors);
        });
      },

      supr(obj, element, e){

        let button = e.target;

        let tr = button.parentNode.parentNode;

        if (tr.localName == 'td') {
          tr = tr.parentNode;
        }

        $(tr).remove();

        if (!obj.id) {
          return;
        }

        switch (element) {
          case 'addresses':
            this.form.deleteAddresses.push(obj.id);
          break;

          case 'contacts':
            this.form.deleteContacts.push(obj.id);
          break;

          case 'banks':
            this.form.deleteBanks.push(obj.id);
          break;
        }
      }
    }
  }
</script>
