<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listado de Clientes/Socios
          </h3>
          <span class="pull-right">
            <router-link to="/clients/create">
              Nuevo
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Logo</th>
                  <th>Nombre</th>
                  <th>Ruc|DNI</th>
                  <th>Dirección</th>
                  <th>Estado</th>
                  <th>Provincia</th>
                  <th>Distrito</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="client in clients">
                  <td>
                    <img :src="'img/clients/' + client.picture" :alt="client.name" class="img-responsive img-circle" style="height:70px;margin:auto;">
                  </td>
                  <td>
                    {{ client.name }}
                  </td>
                  <td>
                    {{ client.document_number }}
                  </td>
                  <td>
                    {{ client.address }}
                  </td>
                  <td>
                    {{ client.state.name }}
                  </td>
                  <td>
                    {{ client.province.name }}
                  </td>
                  <td>
                    {{ client.district.name }}
                  </td>
                  <td>
                    <div class="btn-group">
                      <router-link :to="'/clients/' + client.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(client.id)">
                        Borrar
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    mixins: [Bus],

    data: () => {
      return {
        clients: []
      };
    },

    created(){
      Bus.$emit('breadcump', {
        title: 'Clientes',
        pages: ['Dashboard', 'Clientes']
      });

      axios.get('/clients').then((data) => {
        this.clients = data.data;

        console.log(this.clients);
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            // this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      });
    },
  }
</script>
