<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h5>Proyectos</h5>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Tipo de Proyecto</label>
                <select class="form-control" name="type_project" v-model="form.project_type">
                  <option v-for="project in typesProjects" :value="project.id">
                    {{ project.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Código</label>
              <input type="text" class="form-control" id="code" v-model="form.code"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Nro Contrato / OS</label>
                <input type="text" class="form-control" v-model="form.contract_number" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Referencia</label>
                <input type="text" class="form-control" v-model="form.reference" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label>Nombre del Proyecto</label>
                <input type="text" class="form-control"  v-model="form.name" />
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Cliente</label>
                <select class="form-control" name="client" v-model="form.client">
                  <option v-for="c in clients" :value="c.id">
                    {{ c.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Fecha de Inicio</label>
                <input type="date" class="form-control" v-model="form.start_date" />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Fecha de Término</label>
                <input type="date" class="form-control" v-model="form.end_date" />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Fecha de Entrega</label>
                <input type="date" class="form-control" v-model="form.delivery_date" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Condiciones de Entrega</label>
                <input type="text" class="form-control" v-model="form.delivery_conditions"/>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Comentarios</label>
                <textarea class="form-control" rows="5" v-model="form.comment"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn button-caution-flat" @click="save">
            Guardar
          </button>
          <button type="button" class="btn btn-default" @click="$router.go(-1)">
            Descartar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            project_type: '',
            code: '',
            contract_number: '',
            reference: '',
            name: '',
            client: '',
            start_date: '',
            end_date: '',
            delivery_date: '',
            delivery_conditions: '',
            comment: '',
          },
          id: '',

        typesProjects: [],
        clients: [],
        url: '/projects'
      };
    },

    mounted() {
      this.getProjectsTypes();
      this.getClients();
      // $('#status').lc_switch('Activo', 'Inactivo');

    },

    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get('/projects/' + this.id + '/edit').then((data) => {
          let project = data.data;
          console.log(project);
          $('#code').attr('readonly', true);

          this.form.project_type = project.type_id;
          this.form.code = project.code;
          this.form.contract_number = project.contract_number;
          this.form.reference = project.reference;
          this.form.name = project.name;
          this.form.client = project.client;
          this.form.start_date = project.start_date;
          this.form.end_date = project.end_date;
          this.form.delivery_date = project.delivery_date;
          this.form.delivery_conditions = project.delivery_conditions;
          this.form.comment = project.comment;
        

          Bus.$emit('breadcump', {
            title: 'Project',
            pages: ['Dashboard', 'Project', project.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Proyectos',
        pages: ['Dashboard', 'Proyectos', 'Nuevo']
      });
    },

    methods: {
      save() {
       if(this.url == '/projects') {
          axios.post(this.url, this.form).then((response) => {
            swal('Proyecto agregado!');

            this.$router.push('/projects');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Proyecto actualizado correctamente!');

            this.$router.push('/projects');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },

      getProjectsTypes() {
        axios.get('/project-type').then((response) => {
          this.typesProjects = response.data.projectType;
          this.form.project_type = response.data.projectType[0].id;
        })
        .catch((err) => {
            console.log(err);
        })
      },

      getClients() {
        axios.get('/clients').then((response) => {
          console.log("ENTROP");
          console.log(response);
          this.clients = response.data;
          this.form.client = response.data[0].id;
        })
      },

    },
  }
</script>
