<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listado de Projects
          </h3>
          <span class="pull-right">
            <router-link to="/projects/create">
              Nuevo Project
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Referencia</th>
                  <th>Fecha de inicio</th>
                  <th>Fecha de fin</th>
                  <th>Monto</th>
                  <th>Estado</th>
                  <th>Ver Info</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="project in projects">
                  <td>{{ project.code }}</td>
                  <td>
                    {{ project.name }}
                  </td>
                  <td>
                    {{ project.reference }}
                  </td>
                  <td>
                    {{ project.start_date }}
                  </td>
                  <td>
                    {{ project.end_date }}
                  </td>
                  <td>
                    {{ project.users.name }}
                  </td>
                  <td>
                    {{ project.status }}
                  </td>
                  <td>
                    <div class="btn-group">
                      <router-link :to="'/projects/' + project.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(project.id, $event)">
                        Borrar
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    data: () => {
      return {
        projects: [],
      };
    },
    created(){
      Bus.$emit('breadcump', {
        title: 'Proyectos',
        pages: ['Dashboard', 'Proyectos']
      });

      axios.get('/projects').then((data) => {
        console.log(data.data);
        this.projects = data.data;
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      });
    },

    methods: {
      supr(id, e) {
        e.preventDefault();

        swal('¿Realmente deseas borrar este project?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        }).then((value) => {
          if (!value) {
            return;
          }

          axios.delete('/projects/' + id).then((data) => {
            axios.get('/projects').then((data) => {
              this.projects = data.data;
            });
          });
        });
      }
    }
  }
</script>
