<template>
	<!-- <div>Prueba</div> -->
</template>

<script>
  import Bus from './../EventBus';

	export default{
		created (){
      Bus.$emit('breadcump', {
        title: 'Dashboard',
        pages: ['Dashboard']
      });
  	}
	}
</script>
