<template>
    <section class="content-header">
        <h1>{{ title }}</h1>
        <ol class="breadcrumb">

            <li v-for="page in pages">
                {{ page }}
            </li>

            <!-- <li>
                <a href="index.html">
                    <i class="fa fa-fw ti-home"></i> Dashboard
                </a>
            </li>
            <li> Pages</li>
            <li class="active">
                <a href="blank.html">Blank</a>
            </li> -->
        </ol>
    </section>
</template>

<script>
    export default{
        props: ['title', 'pages']
    }
</script>
