<template>
	<div class="wrapper row-offcanvas row-offcanvas-left">
		<left></left>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <breadcump :title="title" :pages="pages"></breadcump>
            <!-- Main content -->
            <section class="content">
            	<router-view></router-view>
                <div class="background-overlay"></div>
            </section>
            <!-- /.content -->
        </aside>
        <!-- /.right-side -->
    </div>
    <!-- <router-view></router-view> -->
</template>

<script>
    import Left from './Left';
	import Breadcump from './Breadcump';
    import Bus from './../../EventBus';

    export default {
        data: () => {
            return {
                title: null,
                pages: [],
            }
        },
    	components: { Left, Breadcump },
        created() {
            Bus.$on('breadcump', (data) => {
                this.title = data.title;
                this.pages = data.pages;
            });
        }
        
    }
</script>
