<template>
	<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar-->
    <section class="sidebar">
      <div id="menu" role="navigation">
        <menu-user></menu-user>
        <ul class="navigation">
          <li v-for="menu in menus" class="menu-dropdown">
            <a href="javascript:void(0)">
              <i :class="'fa fa-fw ' + menu.icon" style="font-size:20px;"></i>
              <span>{{ menu.name }}</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="sub-menu">
              <li v-for="sub in menu.sub">
                <router-link :to="sub.route">
                  <span @click="toTop()">
                    {{ sub.name }}
                  </span>
                </router-link>
              </li>
            </ul>
          </li>
        </ul>
        <!-- / .navigation -->
      </div>
        <!-- menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
  import MenuUser from './MenuUser';

  import Bus from './../../EventBus';

	export default {
    components: { MenuUser },
    data: () => {
      return {
        menus: []
      };
    },
		mounted(){
      Bus.$on('menu', (menus) => {
        this.menus = menus;

        setTimeout(() => {
          $('#menu').metisMenu();
        }, 700);
      });
		},
    methods:{
      toTop(){
        window.scrollTo(0, 0);
      }
    }
	}
</script>
