<template>
	<div class="nav_profile">
        <div class="media profile-left">
            <a class="pull-left profile-thumb" href="javascript:void(0)">
                <img src="img/authors/avatar1.jpg" class="img-circle" alt="User Image">
            </a>
            <div class="content-profile">
                <h4 v-if="user" class="media-heading">
                    {{user.name}}
                </h4>
            </div>
        </div>
    </div>
</template>

<script>
    import UserMix from './../../mixins/UserMix';

	export default {
        mixins: [UserMix],
		mounted() {
			
		}
	}
</script>
