<template>
	<header class="header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            <img src="img/logo.png" alt="logo"/>
        </a>
        <!-- Header Navbar: style can be found in header-->
        <!-- Sidebar toggle button-->
        <!-- Sidebar toggle button-->
        <div>
            <a href="javascript:void(0)" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
              <i class="fa fa-fw fa-list"></i>
            </a>
        </div>
          <div class="navbar-left">
            <ul class="nav navbar-nav">
              <li v-for="componentMenu in menus">
                <a href="#" @click.prevent="menu" :data-menu="componentMenu.id">
                  {{ componentMenu.name }}
                </a>
              </li>
            </ul>
          </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown-->
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0)" class="dropdown-toggle padding-user" data-toggle="dropdown">
                        <img src="img/authors/avatar1.jpg" width="35" class="img-circle img-responsive pull-left"
                             height="35" alt="User Image">
                        <div class="riot">
                            <div v-if="user">
                                {{ user.name }}
                                <span>
                                      <i class="caret"></i>
                                  </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="img/authors/avatar1.jpg" class="img-circle" alt="User Image">
                            <p v-if="user">{{ user.name }}</p>
                        </li>
                        <!-- Menu Body -->
                        <li class="p-t-3">
                            <a href="user_profile.html">
                                <i class="fa fa-fw ti-user"></i> My Profile
                            </a>
                        </li>
                        <li role="presentation"></li>
                        <li>
                            <a href="edit_user.html">
                                <i class="fa fa-fw ti-settings"></i> Account Settings
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="lockscreen.html">
                                    <i class="fa fa-fw ti-lock"></i>
                                    Lock
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="login.html">
                                    <i class="fa fa-fw ti-shift-right"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
	</header>
</template>

<script>
  import Bus from './../../EventBus';
  import UserMix from './../../mixins/UserMix';
  import axios from 'axios';

	export default{
    mixins: [UserMix],
    data:() => {
      return {
        menus: [],
      };
    },
    mounted(){
      axios.get('/menu-horizontal').then((data) => {
        this.menus = data.data;
      });
    },
    methods: {
      menu(event) {
        axios.get('/menu-horizontal/' + event.target.dataset.menu).then((data) => {
          let menus = data.data;
          console.log('---------------__HEADRE.---------------------');
          console.log(menus);

          $('a[data-menu]').removeClass('selected');

          $(event.target).addClass('selected');

          Bus.$emit('menu', menus);
        });
      }
    }
	}
</script>

<style>
.navbar .navbar-left a {
  color: white;
  transition: all 0.3s ease;
}

.navbar .navbar-left a:hover, .navbar .navbar-left a:active, .navbar .navbar-left a:focus, .navbar-right .nav > li > a:hover, .navbar-right .nav > li > a:focus, .selected {
  background:black;
  color:white;
}
</style>
