<template>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Code</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.code" id="code" class="form-control" />
                    <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" id="name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn button-caution-flat" @click="save">
                    Guardar
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
                    Descartar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            name: '',
            id: null
          },
          url: '/responsible-types',
      };
    },
    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get(this.url + '/' + this.id + '/edit').then((data) => {
          let responsibleType = data.data;

          this.form.name = responsibleType.name;
          this.form.code = responsibleType.code;
          this.form.id = responsibleType.id;

          Bus.$emit('breadcump', {
            title: 'Tipo de Responsable',
            pages: ['Dashboard', 'Tipo de Responsable', responsibleType.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Tipo de Responsable',
        pages: ['Dashboard', 'Tipo de Responsable', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/responsible-types') {
          console.log(this.url, this.form);

          axios.post(this.url, this.form).then((response) => {
            swal('Tipo de Responsable agregado!');

            this.$router.push(this.url);
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Tipo de Responsable actualizado correctamente!');

            this.$router.push('/responsible-types');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },
    } 
  }
</script>
