<template>
  <div class="row cost-center-form">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h5>Centro de Costo</h5>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <label>UA/C. Costos padre:</label>
              <select v-model="form.parent" class="form-control">
                <option v-for="project in costParent" v-html="project.name" :value="project.id"></option>
              </select>
              <span class="text-danger" v-if="errors.costParent">{{ errors.costParent }}</span>
            </div>
            <div class="col-md-4">
              <label>Proyecto:</label>
              <select v-model="form.project" class="form-control">
                <option v-for="project in projects" v-html="project.name" :value="project.id"></option>
              </select>
              <span class="text-danger" v-if="errors.project">{{ errors.project }}</span>
            </div>
            <div class="col-md-3">
              <label>Tipo de Costo:</label>
              <select v-model="form.costType" class="form-control">
                <option v-for="cost in costTypes" v-html="cost.name" :value="cost.id"></option>
              </select>
              <span class="text-danger" v-if="errors.costType">{{ errors.costType }}</span>
            </div>
            <div class="col-md-3">
              <label>Tipo UA/Centro de Costo:</label>
              <select v-model="form.costCenterType" class="form-control">
                <option v-for="costCenterType in costCenterTypes" v-html="costCenterType.name" :value="costCenterType.id"></option>
              </select>
              <span class="text-danger" v-if="errors.costCenterType">{{ errors.costCenterType }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>UA / Centro Costos:</label>
              <!--
                <input type="text" class="form-control" v-model="form.uaCostCenter" />
              -->
              <input v-model="form.code" type="text" class="form-control" />
              <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
            </div>
            <div class="col-md-6">
              <label>Nombre UA / Centro Costos:</label>
              <!--
                <input type="text" class="form-control" v-model="form.uaCostCenterName" />
              -->
              <input v-model="form.name" type="text" class="form-control" />
              <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
            </div>
            <div class="col-md-3">
              <label>Unidad de Medida</label>
              <select type="text" class="form-control" v-model="form.unit">
                <option v-for="unit in unitMeasures" v-html="unit.own_name" :value="unit.id"></option>
              </select>
              <span class="text-danger" v-if="errors.unit">{{ errors.unit }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Sección:</label>
              <select class="form-control" v-model="form.section">
                <option v-for="section in sections" v-html="section.name" :value="section.id"></option>
              </select>
              <span class="text-danger" v-if="errors.section">{{ errors.section }}</span>
            </div>
            <div class="col-md-6">
              <label>Gerencia:</label>
              <select class="form-control" v-model="form.management">
                <option v-for="management in managements" v-html="management.name" :value="management.id"></option>
              </select>
              <span class="text-danger" v-if="errors.management">{{ errors.management }}</span>
            </div>
            <div class="col-md-3">
              <label>Grupo de Trabajo:</label>
              <select class="form-control" v-model="form.workGroup">
                <option v-for="work in workGroups" v-html="work.name" :value="work.id"></option>
              </select>
              <span class="text-danger" v-if="errors.workGroup">{{ errors.workGroup }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-2">
              <label>
                <!--FIRST-->
                <!--
                <input type="checkbox" name="supplyToUseFutureOperations"
                  v-model="form.supplyToUseFutureOperations" />
                -->
                <input :checked="form.centerCost" type="checkbox" v-model="form.centerCost" />
                Deshabilitado
              </label>
              <br>
              <i class="fa fa-info"></i>
              Se podrá usar este centro de costos en futuras operaciones
            </div>

            <div class="col-md-3 col-md-offset-2">
              <label>
                <!--SECOND-->
                <!--<input type="checkbox" name="supplyOtherProjects"
                  v-model="form.supplyToTransferServices" />-->
                  <input :checked="form.supplyTransfer" type="checkbox" v-model="form.supplyTransfer" />
                Deshabilitado
              </label>
              <br>
              <i class="fa fa-info"></i>
              Activar esta opción para transferir bienes/servicios a otro proyecto
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
            Descartar
          </button>
          <button type="button" class="btn button-caution-flat" @click="save">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            parent: '',
            code: '',
            name: '',
            costType: null,
            costCenterType: null,
            unit: null,
            id: null,
            project_id: null,
            centerCost: false,
            supplyTransfer: false,
          },
          costParent: [],
          costTypes: [],
          unitMeasures: [],
          sections: [],
          managements: [],
          costCenterTypes: [],
          projects:[],
          workGroups: [],
          url: '/cost-center',
      };
    },
    created(){
      axios.get('/cost-types').then((data) => {
        this.costTypes = data.data;
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      });

      axios.get('/cost-center/parent').then((data) => {
        this.costParent = data.data;
      });

      axios.get('/work-groups').then((data) => {
        this.workGroups = data.data;
      });

      axios.get('/unit-measures').then((data) => {
        this.unitMeasures = data.data;
      });

      axios.get('/sections').then((data) => {
        this.sections = data.data;
      });

      axios.get('/managements').then((data) => {
        this.managements = data.data;
      });

      axios.get('/type-cost-center').then((data) => {
        this.costCenterTypes = data.data;
      });

      axios.get('/projects').then((data) => {
        this.projects = data.data;
      });

      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get(this.url +'/'+ this.id + '/edit').then((data) => {
          let CostCenter = data.data;
          console.log(CostCenter);

            this.form.code = CostCenter.code;
            this.form.name = CostCenter.name;
            this.form.id = CostCenter.id;

            this.form.parent = CostCenter.parent_id;
            this.form.code = CostCenter.code;
            this.form.name = CostCenter.name;
            this.form.costType = CostCenter.cost_type_id;
            //this.form.costCenterType = CostCenter
            this.form.unit  = CostCenter.unit_id;
            this.form.workGroup  = CostCenter.work_group_id;
            
            this.form.project_id= null;

            this.form.project = CostCenter.project_id;
            this.form.costCenterType = CostCenter.cost_center_type_id;
            this.form.section = CostCenter.section_id;
            this.form.management = CostCenter.managements_id;

            this.form.centerCost = CostCenter.supply_other_project
            this.form.supplyTransfer = CostCenter.supply_transfer_project

          Bus.$emit('breadcump', {
            title: 'Centro de Costos',
            pages: ['Dashboard', 'Centro de Costos', CostCenter.name, 'Editar']
          });

          this.url += this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Centros de Costos',
        pages: ['Dashboard', 'Centros de Costos', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/cost-center') {
          axios.post(this.url, this.form).then((response) => {
            swal('Centro de costo agregado!');

            this.$router.push(this.url);
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put('/cost-center/'+this.$route.params.id, this.form).then((response) => {
            swal('Centro de costo actualizado correctamente!');

            this.$router.push('/cost-center');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },
    },
  }
</script>
<style scoped>
  .panel-heading{
    color:white;
    background: rgb(251,0,0);
  }

  .cost-center-form label{
    font-size:12px;
  }
</style>