<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Centros de Costo
          </h3>
          <span class="pull-right">
            <router-link to="/cost-center/create">
              Nuevo Centros de Costo
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Código</th>
                  <th>U. Medida</th>
                  <th>Gerencia</th>
                  <th>Sección</th>
                  <th>Tipo de costo</th>
                  <th>Tipo centro de costo</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in costCenter">
                  <td>{{ item.name }}</td>
               	  <td>{{ item.code }}</td>
                  <td>{{ item.unit_measure.own_name }}</td>
                  <td>{{ item.management.name }}</td>
                  <td>{{ item.section.name }}</td>
                  <td>{{ item.cost_type.name }}</td>
                  <td>{{ item.cost_center_type.name }}</td>
                  <td>{{ statusArray[item.status] }}</td>
               	  <td>
               	  	<div class="btn-group">
                      <router-link :to="'/cost-center/' + item.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(item.id, $event)">
                        Borrar
                      </a>
                    </div> 
               	  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    data: () => {
      return {
        costCenter: [],
        statusArray: window.Laravel.status,
      };
    },
    created(){
      Bus.$emit('breadcump', {
        title: 'Centros de Costo',
        pages: ['Dashboard', 'Centros de Costo']
      });

      axios.get('/cost-center').then((data) => {
        this.costCenter = data.data;
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      }); 
    },

    methods: {
      supr(id, e) {
       e.preventDefault();

        swal('¿Realmente deseas borrar este Centro de Costo?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        }).then((value) => {
          if (!value) {
            return;
          }

          axios.delete('/cost-center/' + id).then((data) => {
            axios.get('/cost-center').then((data) => {
              this.costCenter = data.data;
            });
          });
        }); 
      }
    }
  }
</script>
