<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn button-caution-flat" @click="save">
              Guardar
            </button>
            <button type="button" class="btn btn-default" @click="$router.go(-1)">
              Descartar
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Código</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.code" id="code" class="form-control" />
                    <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre corto</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.short_name" class="form-control" />
                    <span class="text-danger" v-if="errors.short_name">{{ errors.short_name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre Tipo documento</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
        form: {
          code: '',
          name: '',
          short_name: '',
        },
        id: '',

        url: '/documents-type'
      };
    },

    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get('/documents-type/' + this.id + '/edit').then((data) => {
          let documents = data.data.documents;

          $('#code').attr('disabled', true);

          this.form.code = documents.code;
          this.form.name = documents.name;
          this.form.short_name = documents.short_name;

          Bus.$emit('breadcump', {
            title: 'Tipo Documento',
            pages: ['Dashboard', 'Tipo Documento', documents.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Tipo Documento',
        pages: ['Dashboard', 'Tipo Documento', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/documents-type') {
          axios.post(this.url, this.form).then((response) => {
            swal('Tipo Documento agregado!');

            this.$router.push('/documents-type');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Tipo Documento actualizado correctamente!');

            this.$router.push('/documents-type');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
      } 
    },
  }
</script>
