<template>
  <select :name="name" id="currencies" class="form-control" v-model="currency">
    <option v-for="currency in currencies" :value="currency.id">
      <!-- {{ currency.iso }} -->
      {{ currency.iso }} - {{ currency.name }}
    </option>
  </select>
</template>

<script>
  import axios from 'axios';

  export default {
    props: ['currency', 'name'],
    data: () => {
      return {
        currencies: [],
      };
    },
    created (){
      axios.get('/currencies').then((data) => {
        this.currencies = data.data;
      });
    }
  }
</script>
