<template>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Code</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.code" id="code" class="form-control" />
                    <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" id="name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Fecha Inicial</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <select name="annio">
                      <option ></option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Fecha Final</label>
                </div>
                <!--
                <div class="col-md-3">
                  <label>Fecha Inicial</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <datepicker @closed="doSelectedDate('from')" :format="customFormatter"  v-model="form.date_from"  input-class="form-control"></datepicker><span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Fecha Final</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <datepicker @closed="doSelectedDate('to')" :format="customFormatter" v-model="form.date_to"   input-class="form-control"></datepicker>
                    <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                -->
                <div class="col-md-6">
                  <button type="button" class="btn button-caution-flat" @click="save">
                    Guardar
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
                    Descartar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';
  import Datepicker from 'vuejs-datepicker';
  import moment from 'moment'
  
  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            name: '',
            code: '',
            id: null,
            date_from: '',
            date_to: '',
            date_from_format: '',
            date_to_format: '',
          },
          url: '/fiscal-year',
      };
    },
    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get(this.url + '/' + this.id + '/edit').then((data) => {
          let costType = data.data.data;

          this.form.name = costType.name;
          this.form.code = costType.code;
          this.form.id = costType.id;
          this.form.date_from = moment(costType.date_from,'YYYY-MM-DD').format('DD/MM/YYYY');
          this.form.date_to = moment(costType.date_to,'YYYY-MM-DD').format('DD/MM/YYYY');
          this.form.date_from_format = costType.date_from;
          this.form.date_to_format = costType.date_to;

          Bus.$emit('breadcump', {
            title: 'Año Fiscal',
            pages: ['Dashboard', 'Año Fiscal', costType.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Año Fiscal',
        pages: ['Dashboard', 'Año Fiscal', 'Nuevo']
      });
    },

    components: {
      Datepicker
    },

    methods: {
      customFormatter(date) {
        return moment(date).format('DD/MM/YYYY');
      },

      doSelectedDate: function(type){
        if (type === 'from') {
          this.form.date_from_format = moment(this.form.date_from).format('YYYY-MM-DD');
        } else if (type === 'to') {
          this.form.date_to_format = moment(this.form.date_to).format('YYYY-MM-DD');
        }
      },

      save() {
        if(this.url == '/fiscal-year') {
          console.log(this.url, this.form);

          axios.post(this.url, this.form).then((response) => {
            swal('Tipo de Costo agregado!');

            this.$router.push(this.url);
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Tipo de Costo actualizado correctamente!');

            this.$router.push('/fiscal-year');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },
    } 
  }
</script>
