<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <label>Code</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.code" id="code" class="form-control" />
                    <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" id="name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Año</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input v-if="updateForm" type="text" v-model="form.year" id="name" class="form-control" disabled="disabled" />
                    <select v-else name="annio" v-model="form.year"  class="form-control">
                      <option value="-1">Seleccione Año</option>
                      <option v-for="(item,index) in listYear" :value="item.year">{{item.year}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12" style="margin-bottom:10px">
                  <span class="pull-right">
                  <!--<input type="checkbox" name="status" id="status" value="1" />-->
                  <input type="checkbox" name="status" id="status" v-model="form.status"  />
                  </span>
                </div>
                <!--
                <div class="col-md-3">
                  <label>Fecha Inicial</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <datepicker @closed="doSelectedDate('from')" :format="customFormatter"  v-model="form.date_from"  input-class="form-control"></datepicker><span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Fecha Final</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <datepicker @closed="doSelectedDate('to')" :format="customFormatter" v-model="form.date_to"   input-class="form-control"></datepicker>
                    <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                -->
                <div class="col-md-6">
                  <button type="button" class="btn button-caution-flat" @click="save">
                    Guardar
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
                    Descartar
                  </button>
                </div>
              </div>
            </div>

            <!--NAVBAR-->
            <div class="col-md-12" v-if="flagPanel">
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Lista de Periodos</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-panel active" id="general">
                    <!--TABLA-->
                      <div class="panel-heading">
                        <span class="pull-right" style="margin-top:0;">
                          <router-link :to="createUrl">
                            Nuevo Periodo
                          </router-link>
                        </span>
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Estado</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(fiscalYear, index) in fiscalYears" :key="index">
                                <td>
                                  {{ fiscalYear.code }}
                                </td>
                                <td>
                                  {{ fiscalYear.name }}
                                </td>
                                <td>
                                  {{ fiscalYear.date_from }}
                                </td>
                                <td>
                                  {{ fiscalYear.date_to }}
                                </td>
                                <td>
                                  {{ fiscalYear.status }}
                                </td>
                                <td>
                                  <div class="btn-group">
                                    <router-link :to="'/periods/'+parentId+'/'+fiscalYear.id" class="btn btn-warning btn-xs">
                                      Editar
                                    </router-link>
                                    <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="deletePeriod(fiscalYear.id, $event)">
                                      Borrar
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    <!--TABLA-->
                  </div>
                </div>
            </div>
            <!--NAVBAR-->

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';
  import Datepicker from 'vuejs-datepicker';
  import moment from 'moment'
  
  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            name: '',
            code: '',
            id: null,
            year: null,
            date_from: '',
            date_to: '',
            date_from_format: '',
            date_to_format: '',
            status: false,
          },
          url: '/fiscal-year',
          year: null,
          listYear: [],
          updateForm: false,
          fiscalYears: [],
          parentId: null,
          createUrl: '',

          flagPanel: false,
      };
    },

    watch: {
      "form.status": (e) => {
        if (e) {
          $('#status').lcs_on();
        }else{
          $('#status').lcs_off();
        }
      },
    },

    created(){
      axios.get(route('fiscal-year.current.year').url())
      .then((response) => {
        if (response.data.status === 'success') {
          this.listYear = response.data.data;
          
        }
      });

      if (this.$route.params.id != 'create') {
        this.flagPanel = true;
        this.updateForm = true;
        this.id = this.$route.params.id;

        axios.get(this.url + '/' + this.id + '/edit').then((data) => {
          let fiscalYear = data.data.data;
          console.log(fiscalYear);
          this.form.name = fiscalYear.name;
          this.form.code = fiscalYear.code;
          this.form.id   = fiscalYear.id;
          this.form.year = fiscalYear.currentYear;
          this.form.status = (fiscalYear.status == 1)? true : false; 
          
          this.createUrl = '/periods/'+fiscalYear.id+'/create';
          this.getPeriods(fiscalYear.id);
          /*this.form.date_from = moment(fiscalYear.date_from,'YYYY-MM-DD').format('DD/MM/YYYY');
          this.form.date_to = moment(fiscalYear.date_to,'YYYY-MM-DD').format('DD/MM/YYYY');
          this.form.date_from_format = fiscalYear.date_from;
          this.form.date_to_format = fiscalYear.date_to;
          */

          Bus.$emit('breadcump', {
            title: 'Año Fiscal',
            pages: ['Dashboard', 'Año Fiscal', fiscalYear.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Año Fiscal',
        pages: ['Dashboard', 'Año Fiscal', 'Nuevo']
      });
    },

    mounted(){
      $('#status').lc_switch('Activo', 'Inactivo');

      $('body').delegate('#status', 'lcs-statuschange', (e) => {
        this.form.status = e.target.checked;
        //console.log(this.form.status);
      });
    },

    components: {
      Datepicker
    },

    methods: {

      deletePeriod: function(id, e){
        const _this = this;
        swal('¿Realmente deseas borrar este periodo?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        })
        .then(function(value){
          if (!value) return false;
          
          axios.delete(route('periods.destroy',{'period': id}).url())
          .then(function(response){
            _this.getPeriods(_this.parentId);
          });
        });
      },

      getPeriods(parentId) {
        const _this = this;
        axios.get(route('periods.getById',{'id':parentId}).url())
          .then(function(response){
            console.log(response);
            _this.fiscalYears = response.data.data;
            _this.parentId = parentId;
            
          })
          .catch(function(error){
            console.log(error);
            switch (error.response.status) {
              case 403:
                swal('Usted no tiene autorización para acceder a este modulo.');
                this.$router.go(-1);
              break;
              default:
                swal('Ha ocurrido un error, por favor informe a de ello');
              break;
            }
          });
      },

      customFormatter(date) {
        return moment(date).format('DD/MM/YYYY');
      },

      doSelectedDate: function(type){
        if (type === 'from') {
          this.form.date_from_format = moment(this.form.date_from).format('YYYY-MM-DD');
        } else if (type === 'to') {
          this.form.date_to_format = moment(this.form.date_to).format('YYYY-MM-DD');
        }
      },

      save() {
        console.log("---------FORM----------");  
        
        //;
        this.form.status = (this.form.status)?1:0;
        console.log(this.form.status);
        
        if(this.url == '/fiscal-year') {
          axios.post(this.url, this.form).then((response) => {
            swal('Año Fiscal agregado!');

            this.$router.push(this.url);
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Año Fiscal actualizado correctamente!');

            this.$router.push('/fiscal-year');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },
    } 
  }
</script>
