<template>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="panel">
          <div class="panel-heading col-md-12">
            <div class="col-md-6">
              <button type="submit" class="btn button-caution-flat" @click.prevent="save">
                Guardar
              </button>
              <button type="button" class="btn btn-default" @click="$router.go(-1)">
                Descartar
              </button>
            </div>
            <div class="col-md-6">
              <span class="">
              <!--<input type="checkbox" name="status" id="status" value="1" />-->
              <input type="checkbox" name="status" id="status" v-model="company.status" />
              </span>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <!--<div class="col-md-3">
                <div class="picture">
                  <img id="img-thumb" :src="urlCompany" alt="Imagen" @click="clickPicture" class="img-responsive img-circle" />
                  <input type="file" name="picture" ref="picture" class="hide" @change="onFileChange" accept="image/*" />
                </div>
              </div>-->
              <div class="col-md-12 margin">
                <div class="col-md-6">  
                  
                </div>
                <div class="col-md-6"> 
                  <div class="row">

                  </div> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="picture">
                  <img id="img-thumb" :src="urlCompany" alt="Imagen" @click="clickPicture" class="img-responsive img-circle" />
                  <input type="file" name="picture" ref="picture" class="hide" @change="onFileChange" accept="image/*" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label>Nombre de la Compañía</label>
                      <input type="text" name="name" v-model="company.name" class="form-control" />
                      <span v-if="errors.name" v-text="errors.name" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="form-group">
                      <label>Id de Impuesto</label>
                      <input type="text" name="ruc" v-model="company.ruc" class="form-control" />
                      <span v-if="errors.ruc" v-text="errors.ruc" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Lema de la compañía</label>
                      <input type="text" name="slogan" v-model="company.slogan" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label>Compañía Matriz</label>
                      <select name="" id="" v-model="company.matrix" class="form-control">
                        <option value="-1">Seleccione Matriz</option>
                        <option v-for="company in parentCompany" :value="company.id">{{company.name}}</option>
                      </select>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Datos Generales</a>
                  </li>
                  <li role="presentation">
                    <a href="#aditional" aria-controls="aditional" role="tab" data-toggle="tab">Datos Adicionales</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="general">
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-7">
                        <div class="row">
                          <div class="col-md-2 text-right">
                            <label>Dirección</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <select name="" id="" v-model="company.generalData.address.viaType" class="form-control">
                                <option value="-1">Seleccione Tipo de Vía</option>
                                <option v-for="type in typeAdressStreet" :value="type.id">{{type.name}}</option>
                              </select>
                              <span v-if="errors.viaType" v-text="errors.viaType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                              <input type="text" name="street" v-model="company.generalData.address.street" class="form-control" placeholder="Calle" />
                              <span v-if="errors.street" v-text="errors.street" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="">
                                    <input type="text" name="street"  v-model="company.generalData.address.number" class="form-control" placeholder="Nro Dirección" />  
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="">
                                    <input type="text" name="street"  v-model="company.generalData.address.departament" class="form-control" placeholder="Nro Departamento" />  
                                  </div>  
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="text" name="street2" v-model="company.generalData.address.street2" class="form-control" placeholder="Calle 2" />
                            </div>
                            <div class="form-group">
                              <select v-model="company.generalData.address.zoneType" name="" id="" class="form-control">
                                <option value="-1">Seleccione Tipo de Zona</option>
                                <option v-for="type in typeAdressZone" :value="type.id">{{type.name}}</option>
                              </select>
                              <span v-if="errors.zoneType" v-text="errors.zoneType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                              <input type="text" name="reference" v-model="company.generalData.address.zoneReference" class="form-control" placeholder="Referencia de zona" />
                              <span v-if="errors.reference" v-text="errors.reference" class="text-danger"></span>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Estado</label>
                                  <select name="state_id" id="state" v-model="company.generalData.address.state" class="form-control" @change="loadState">
                                    <option v-for="(state, index) in states" :key="index" :value="state.id">
                                      {{ state.name }}
                                    </option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>Distrito</label>
                                  <select name="district_id" id="district" v-model="company.generalData.address.district" class="form-control">
                                    <option v-for="(district, index) in districts" :key="index" :value="district.id">
                                      {{ district.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Provincia</label>
                                  <select name="province_id" id="province" v-model="company.generalData.address.province" class="form-control" @change="loadProvince">
                                    <option v-for="(province, index) in provinces" :key="index" :value="province.id">
                                      {{ province.name }}
                                    </option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>ZIP</label>
                                  <input type="text" name="zip" v-model="company.generalData.address.zip" class="form-control" />
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="text" name="anotherCity" v-model="company.generalData.address.streetReference" class="form-control" 
                                placeholder="Referencia entre calles" />
                            </div>
                          </div>
                          <div class="col-md-12 text-right">
                            <div class="row">
                              <div class="col-md-2 text-right">
                                <label>Sitio Web</label>
                              </div>
                              <div class="col-md-7">
                                <input type="text" name="website" v-model="company.generalData.website.url" class="form-control" placeholder="Sitio Web" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="row">
                          <div class="col-md-3">
                            <label>Contacto</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <input type="text" name="contact" v-model="company.generalData.contact.name" class="form-control" />
                              <span v-if="errors.contact" v-text="errors.contact" class="text-danger"></span>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Teléfono</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <input type="text" name="phone" v-model="company.generalData.contact.telephone" class="form-control" />
                              <span v-if="errors.phone" v-text="errors.phone" class="text-danger"></span>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Celular</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <input type="text" name="cellphone" v-model="company.generalData.contact.mobile" class="form-control" />
                              <span v-if="errors.cellphone" v-text="errors.cellphone" class="text-danger"></span>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Fax</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <input type="text" name="fax" v-model="company.generalData.contact.fax" class="form-control" />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Email</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <input type="text" name="email" v-model="company.generalData.contact.email" class="form-control" />
                              <span v-if="errors.email" v-text="errors.email" class="text-danger"></span>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Registro</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <input type="text" id="register" class="form-control" v-model="company.generalData.contact.register" />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Moneda</label>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group">
                              <select-currency :currency="company.generalData.contact.currency"></select-currency>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="aditional">
                    

                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                        <div class="row">
                          <div class="form-group">
                            <label>Header</label>
                            <vue-editor id="editor"
                              useCustomImageHandler
                              @imageAdded="handleImageAdded" v-model="company.data.header">
                            </vue-editor>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <label>Header Report 1</label>
                            <vue-editor id="editor"
                              useCustomImageHandler
                              @imageAdded="handleImageAdded" v-model="company.data.header1">
                            </vue-editor>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                        <div class="row">
                          <div class="form-group">
                            <label>Header Report 2</label>
                            <vue-editor id="editor"
                              useCustomImageHandler
                              @imageAdded="handleImageAdded" v-model="company.data.header2">
                            </vue-editor>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <label>Signature</label>
                            <vue-editor id="editor"
                              useCustomImageHandler
                              @imageAdded="handleImageAdded" v-model="company.data.signature">
                            </vue-editor>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                        <div class="row">
                          <div class="form-group">
                            <label>Notes</label>
                            <vue-editor id="editor"
                              useCustomImageHandler
                              @imageAdded="handleImageAdded" v-model="company.data.notes">
                            </vue-editor>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <label>Footer Report</label>
                            <vue-editor id="editor"
                              useCustomImageHandler
                              @imageAdded="handleImageAdded" v-model="company.data.footer">
                            </vue-editor>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                        <div class="row">
                          <div class="form-group">
                            <label>Footer Report 1</label>
                            <vue-editor id="editor"
                              useCustomImageHandler
                              @imageAdded="handleImageAdded" v-model="company.data.footer1">
                            </vue-editor>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <pre>{{ $data }}</pre> -->
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import ErrorMix from './../../mixins/FormErrorsMix';
  import SelectCurrency from './../partials/SelectCurrency';
  import axios from 'axios';
  import { VueEditor } from 'vue2-editor'

  export default{
    mixins: [ErrorMix],
    components: { SelectCurrency, VueEditor },
    data: () => {
      return {
        signature:'',
        company: {
          id: '-1',
          name: '',
          ruc: '',
          slogan: '',
          matrix: '-1',
          generalData: {
            address: {
              viaType: '-1',
              street: '',
              number: '',
              departament: '',
              street2: '',
              zoneType: '-1',
              zoneReference: '',
              state: '-1',
              province: '-1',
              district: '-1',
              zip: '',
              streetReference: '',
            },
            
            website: {
              url: '',
            },

            contact: {
              name: '',
              telephone: '',
              mobile: '',
              fax: '',
              email: '',
              register: '',
              currency: '161',
            }
          },
          data: {
                  header: '',
                  header1: '',
                  header2: '',
                  signature: '',
                  notes: '',
                  footer: '',
                  footer1: '',
                },
          status: false,
        },

        states: [],
        provinces: [],
        districts: [],

        parentCompany: [],
        typeAdressZone: [],
        typeAdressStreet: [],

        companyImage: null,
        urlCompany: 'img/no-picture.png',

        url: '/companies',
      };
    },
    watch: {
      "company.status": (e) => {
        if (e) {
          $('#status').lcs_on();
        }else{
          $('#status').lcs_off();
        }
      },
    },

    created (){
      this.getState();

      axios.get('/type-adress-zone').then((data) => {
        this.typeAdressZone = data.data;
      });

      axios.get('/companies/parent').then((data) => {
        console.log(data.data);
        this.parentCompany = data.data;
      });

      axios.get('/type-adress-street').then((data) => {
        this.typeAdressStreet = data.data;
      });

      Bus.$emit('breadcump', {
        title: 'Compañías',
        pages: ['Dashboard', 'Compañias', 'Nueva']
      });

      if (this.$route.params.id != 'create') {

        this.url += '/' + this.$route.params.id;

        this.loadCompany();
        
      }
    },
    mounted(){
      $('#status').lc_switch('Activo', 'Inactivo');

      $('body').delegate('#status', 'lcs-statuschange', (e) => {
        this.company.status = e.target.checked;
      });
    },
    methods: {
      handleImageAdded: function(){

      },
      loadCompany: function(){
        const _this = this;
        //this.company.status = true;
        axios.get(this.url).then((response)=>{
          if (response.data.status === 'success') {
            const company = response.data.data;
            
            if (company.picture != '') {
              _this.urlCompany = window.Laravel.asset_storage_company+company.picture; 
            }
            
                
            _this.company = {
                      status: (company.status == 1) ? true : false,
                      id: company.id,
                      name: company.name,
                      ruc: company.ruc,
                      slogan: company.slogan,
                      matrix: (company.parent_id == null)?'-1':company.parent_id,
                      generalData: {
                        address: {

                          viaType: company.street_type_id,
                          
                          street: company.street,
                          number: company.address_number,
                          departament: company.address_inside,
                          street2: company.street2,
                          
                          zoneType: company.zone_type_id,
                          
                          zoneReference: company.zone_reference,
                          state: company.state?company.state.id:'-1',
                          province: company.province?company.province.id:'-1',
                          district: company.district?company.district.id:'-1',
                          zip: company.zip,
                          streetReference: company.additional_reference,
                        },
                        
                        website: {
                          url: company.website,
                        },

                        contact: {
                          name: company.contact,
                          telephone: (company.phone != null && typeof company.phone != 'undefined')?company.phone:'',
                          mobile: company.cellphone,
                          fax: company.fax,
                          email: company.email,
                          register: company.register,
                          currency: company.currency_id,
                        },

                      },

                      data: {
                        header: company.header_report,
                        header1: company.header_report1,
                        header2: company.header_report2,
                        signature: company.signature,
                        notes: company.notes,
                        footer: company.footer_report,
                        footer1: company.footer_report1,
                      },

                    };

              
            };
        });
      },

      loadState(){
        let state = this.states.filter(element => element.id == this.company.generalData.address.state);

        this.provinces = state[0].provinces;
        this.company.generalData.address.province = this.provinces[0].id;

        this.districts = this.provinces[0].districts;
        this.company.generalData.address.district = this.districts[0].id;
      },
      loadProvince(){
        let province = this.provinces.filter(element => element.id == this.company.generalData.address.province);

        this.districts = province[0].districts;
        this.company.generalData.address.district = this.districts[0].id;
      },
      
      clickPicture: function()
      {
        this.$refs.picture.click();
      },
      
      onFileChange(event) {
        
        if (typeof event.target.files[0].type !== 'undefined') {
            if(event.target.files[0].type.includes('image')) {
                this.companyImage = event.target.files[0];
                this.urlCompany = URL.createObjectURL(this.companyImage);
                this.flagSnap = false;
            }
        }
        
      },
      
      createImage(file) {
        let reader = new FileReader();

        reader.onload = (e) => {
          this.form.picture = e.target.result;

          document.querySelector('#img-thumb').src = this.form.picture;
        };

        reader.readAsDataURL(file);
      },
      save() {
        const _this = this;
        
        if (this.url != '/companies') {
          const formDataUpdate = new FormData();

          formDataUpdate.append('id', this.company.id);
          formDataUpdate.append('name', this.company.name);
          formDataUpdate.append('ruc', this.company.ruc);
          formDataUpdate.append('slogan', this.company.slogan);
          formDataUpdate.append('street', this.company.generalData.address.street);
          formDataUpdate.append('street2', this.company.generalData.address.street2);
          formDataUpdate.append('reference', this.company.generalData.address.zoneReference);
          formDataUpdate.append('state_id', this.company.generalData.address.state);
          formDataUpdate.append('province_id', this.company.generalData.address.province);
          formDataUpdate.append('district_id', this.company.generalData.address.district);
          formDataUpdate.append('zip', this.company.generalData.address.zip);
          formDataUpdate.append('anotherCity', this.company.generalData.address.streetReference);
          formDataUpdate.append('website', this.company.generalData.website.url);
          formDataUpdate.append('contact', this.company.generalData.contact.name);
          formDataUpdate.append('phone', this.company.generalData.contact.telephone);
          formDataUpdate.append('cellphone', this.company.generalData.contact.mobile);
          formDataUpdate.append('fax', this.company.generalData.contact.fax);
          formDataUpdate.append('email', this.company.generalData.contact.email);
          formDataUpdate.append('register', this.company.generalData.contact.register);
          formDataUpdate.append('currency_id', this.company.generalData.contact.currency);
          formDataUpdate.append('picture', this.companyImage);
          formDataUpdate.append('status', (this.company.status)?1:0);

          formDataUpdate.append('viaType', this.company.generalData.address.viaType);
          formDataUpdate.append('zoneType', this.company.generalData.address.zoneType);        
          formDataUpdate.append('addressNumber', this.company.generalData.address.number);
          formDataUpdate.append('addressDepartament', this.company.generalData.address.departament);

          formDataUpdate.append('matrix', this.company.matrix);
          formDataUpdate.append('header', this.company.data.header);
          formDataUpdate.append('header1', this.company.data.header1);        
          formDataUpdate.append('header2', this.company.data.header2);
          formDataUpdate.append('signature', this.company.data.signature);
          formDataUpdate.append('notes', this.company.data.notes);        
          formDataUpdate.append('footer', this.company.data.footer);
          formDataUpdate.append('footer1', this.company.data.footer1);

          formDataUpdate.append(' _method', 'PUT');  

          axios.post(this.url, formDataUpdate, 
                    {
                      headers: {
                        'Content-Type': 'multipart/form-data',
                      }        
                    }
          ).then(function(response) {
            
            const data = response.data;

            if (data.status === "success") {
              swal('Compañía actualizada!');
              _this.$router.push('/companies');
            }

          }).catch(function(errors){
            _this.setErrors(errors.response.data.errors);
          });

          return;
        }

        const formData = new FormData();

        formData.append('name', this.company.name);
        formData.append('ruc', this.company.ruc);
        formData.append('slogan', this.company.slogan);
        formData.append('street', this.company.generalData.address.street);
        formData.append('street2', this.company.generalData.address.street2);
        formData.append('reference', this.company.generalData.address.zoneReference);
        formData.append('state_id', this.company.generalData.address.state);
        formData.append('province_id', this.company.generalData.address.province);
        formData.append('district_id', this.company.generalData.address.district);
        formData.append('zip', this.company.generalData.address.zip);
        formData.append('anotherCity', this.company.generalData.address.streetReference);
        formData.append('website', this.company.generalData.website.url);
        formData.append('contact', this.company.generalData.contact.name);
        formData.append('phone', this.company.generalData.contact.telephone);
        formData.append('cellphone', this.company.generalData.contact.mobile);
        formData.append('fax', this.company.generalData.contact.fax);
        formData.append('email', this.company.generalData.contact.email);
        formData.append('register', this.company.generalData.contact.register);
        formData.append('currency_id', this.company.generalData.contact.currency);
        formData.append('picture', this.companyImage);
        formData.append('status', (this.company.status)?1:0);

        formData.append('viaType', this.company.generalData.address.viaType);
        formData.append('zoneType', this.company.generalData.address.zoneType);        
        formData.append('addressNumber', this.company.generalData.address.number);
        formData.append('addressDepartament', this.company.generalData.address.departament);

        formData.append('matrix', this.company.matrix);
        formData.append('header', this.company.data.header);
        formData.append('header1', this.company.data.header1);        
        formData.append('header2', this.company.data.header2);
        formData.append('signature', this.company.data.signature);
        formData.append('notes', this.company.data.notes);        
        formData.append('footer', this.company.data.footer);
        formData.append('footer1', this.company.data.footer1);

        axios.post(this.url, formData, 
                    {
                      headers: {
                        'Content-Type': 'multipart/form-data',
                      }        
                    }
        ).then(function(response){
          const data = response.data;

          if (data.status === "success") {
            swal('Compañía agregada!');
            _this.$router.push('/companies');
          }
        }).catch(function(errors){
          _this.setErrors(errors.response.data.errors);
        });
      },

      getState: function() {
        const _this = this;
        axios.get('/states')
        .then(function(data){
          _this.states = data.data;
          _this.company.generalData.address.state = _this.states[0].id;

          _this.provinces = _this.states[0].provinces;
          _this.company.generalData.address.province = _this.provinces[0].id;

          _this.districts = _this.provinces[0].districts;
          _this.company.generalData.address.district = _this.districts[0].id;
        });
      }
    }
  }
</script>
<style>
.margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.check{
  text-align: right;
}
.active_company{
  margin-right: 40px;
}
</style>

