<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listado de Compañías
          </h3>
          <span class="pull-right">
            <router-link to="/companies/create">
              Nueva Compañía
            </router-link>
          </span>
  			</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Logo</th>
                  <th>Nombre</th>
                  <th>Ruc</th>
                  <th>Dirección</th>
                  <th>Estado</th>
                  <th>Provincia</th>
                  <th>Distrito</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(company, index) in companies" :key="index">
                  <td>
                    <img :src="company.picture" :alt="company.name" class="img-responsive img-circle" style="height:70px;margin:auto;">
                  </td>
                  <td>
                    {{ company.name }}
                  </td>
                  <td>
                    {{ company.ruc }}
                  </td>
                  <td>
                    {{ company.street }}
                  </td>
                  <td>
                    {{ company.state?company.state.name:'' }}
                  </td>
                  <td>
                    {{ company.province?company.province.name:'' }}
                  </td>
                  <td>
                    {{ company.district?company.district.name:'' }}
                  </td>
                  <td>
                    {{ statusArray[company.status] }}
                  </td>
                  <td>
                    <div class="btn-group">
                      <router-link :to="'/companies/' + company.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(company.id)">
                        Borrar
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  		</div>
  	</div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';

	export default{
    data: () => {
      return {
        companies: [],
        statusArray: window.Laravel.status,
      };
    },
  	created (){
      Bus.$emit('breadcump', {
        title: 'Compañías',
        pages: ['Dashboard', 'Compañias']
      });

      this.listCompanies();
  	},
    methods: {
      listCompanies: function(){
        const _this = this;
        axios.get('/companies').then(function(response){
          _this.companies = [];
          response.data.forEach(function(element){
            let urlImageCompany = 'img/no-picture.png';
            if (element.picture != '') {
              urlImageCompany = window.Laravel.asset_storage_company+element.picture; 
            }
            
            _this.companies.push({
              id: element.id,
              name: element.name,
              ruc: element.ruc,
              street: element.street,
              state: element.state,
              province: element.province,
              district: element.district,
              picture: urlImageCompany,
              status: element.status,
            })
          });
          
        });
      },
      supr(id){
        swal('¿Seguro que quiere eliminar esta Compañía?', {
          buttons: ['No, Cancelar', 'Sí, Quiero borrarla']
        }).then((answer) => {
          if (!answer) {
            return;
          }

          axios.delete('/companies/' + id).then((data) => {
            swal('Compañía borrada correctamente!');
            this.listCompanies();
          });
        });
      }
    }
	}
</script>
