<template>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" id="name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Secciones</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <select v-model="form.section" class="form-control">
                      <option v-for="section in sections" :value="section.id">
                        {{ section.name }}
                      </option>
                    </select>
                    <span class="text-danger" v-if="errors.section">{{ errors.section }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn button-caution-flat" @click="save">
                    Guardar
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
                    Descartar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            section: null,
            name: '',
            id: null
          },
          url: '/sub-sections',
          sections: []
      };
    },
    created(){
      axios.get('/sections')
        .then((response) => {
          this.sections = response.data;
        });
      if (this.$route.params.id != 'create') {
        this.id = '/' + this.$route.params.id;

        axios.get(this.url + this.id + '/edit').then((data) => {
          let subSection = data.data;

          if (subSection.section) this.form.section = subSection.section.id;
          this.form.name = subSection.name;
          this.form.id = subSection.id;


          Bus.$emit('breadcump', {
            title: 'Sub Secciones',
            pages: ['Dashboard', 'Sub Secciones', subSection.name, 'Editar']
          });

          this.url += this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Sub Secciones',
        pages: ['Dashboard', 'Sub Secciones', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/sub-sections') {
          axios.post(this.url, this.form).then((response) => {
            swal('Sub Sección agregada!');

            this.$router.push(this.url);
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Sub Sección actualizada correctamente!');

            this.$router.push('/sub-sections');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },
    },
  }
</script>
