<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Sub Secciones
          </h3>
          <span class="pull-right">
            <router-link to="/sub-sections/create">
              Nueva Sub Sección
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Sección</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in sections">
                  <td>{{ item.name }}</td>
               	  <td>
                    <span v-if="item.section">{{ item.section.name }}</span>
                  </td>
               	  <td>
               	  	<div class="btn-group">
                      <router-link :to="'/sub-sections/' + item.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(item.id, $event)">
                        Borrar
                      </a>
                    </div> 
               	  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    data: () => {
      return {
        sections: [],
      };
    },
    created(){
      Bus.$emit('breadcump', {
        title: 'Sub Secciones',
        pages: ['Dashboard', 'Sub Secciones']
      });

      axios.get('/sub-sections').then((data) => {
        this.sections = data.data;
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      }); 
    },

    methods: {
      supr(id, e) {
       e.preventDefault();

        swal('¿Realmente deseas borrar esta sub sección?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        }).then((value) => {
          if (!value) {
            return;
          }

          axios.delete('/sub-sections/' + id).then((data) => {
            axios.get('/sub-sections').then((data) => {
              this.sections = data.data;
            });
          });
        }); 
      }
    }
  }
</script>
