<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Código Sunat</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.sunat_code" id="sunat_code" class="form-control" />
                    <span class="text-danger" v-if="errors.sunat_code">{{ errors.sunat_code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre Sunat</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.sunat_name" id="sunat_name" class="form-control" />
                    <span class="text-danger" v-if="errors.sunat_name">{{ errors.sunat_name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Código Propio</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.own_code" id="own_code" class="form-control" />
                    <span class="text-danger" v-if="errors.own_code">{{ errors.own_code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre Propio</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.own_name" id="own_name" class="form-control" />
                    <span class="text-danger" v-if="errors.own_name">{{ errors.own_name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Comentario</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.coment" id="coment" class="form-control" />
                    <span class="text-danger" v-if="errors.coment">{{ errors.coment }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Tipo Unidad</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.um_type" id="um_type" class="form-control" />
                    <span class="text-danger" v-if="errors.um_type">{{ errors.um_type }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Categoría</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select id="category" v-model="form.basic_unit_measure_category_id" class="form-control">
                      <option :value="null">Seleccionar</option>
                      <option v-for="category in categories" :value="category.id">
                        {{ category.name }}
                      </option>
                    </select>
                    <span class="text-danger" v-if="errors.basic_unit_measure_category_id">
                      {{ errors.basic_unit_measure_category_id }}
                    </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Redondeo</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.rounding_um" id="rounding_um" class="form-control" />
                    <span class="text-danger" v-if="errors.rounding_um">{{ errors.rounding_um }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Factor</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" v-model="form.factor_um" id="factor_um" class="form-control" />
                    <span class="text-danger" v-if="errors.factor_um">{{ errors.factor_um }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Activo</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                     <input type="checkbox" name="active" id="active" v-model="form.active" />
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn button-caution-flat" @click="save">
                    Guardar
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
                    Descartar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            sunat_code: '',
            sunat_name: '',
            own_code: '',
            own_name: '',
            coment: '',
            um_type: '',
            basic_unit_measure_category_id: null,
            rounding_um: '',
            factor_um: '',
            active: false,
            id: null
          },
          url: '/unit-measures',
          categories: []
      };
    },
    created(){
      axios.get('unit-measure-categories').then((response) => {
        this.categories = response.data;
      });

      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get(this.url + '/' + this.id + '/edit').then((data) => {
          let unitMeasure = data.data;

          this.form.sunat_code = unitMeasure.sunat_code;
          this.form.sunat_name = unitMeasure.sunat_name;
          this.form.own_code = unitMeasure.own_code;
          this.form.own_name = unitMeasure.own_name;
          this.form.coment = unitMeasure.coment;
          this.form.um_type = unitMeasure.um_type;
          this.form.basic_unit_measure_category_id = unitMeasure.basic_unit_measure_category_id;
          this.form.rounding_um = unitMeasure.rounding_um;
          this.form.factor_um = unitMeasure.factor_um;
          this.form.active = unitMeasure.active;

          this.form.id = unitMeasure.id;

          if (this.form.active) {
            $('#active').lcs_on();
          }else{
            $('#active').lcs_off();
          }

          Bus.$emit('breadcump', {
            title: 'Unidad de Medida',
            pages: ['Dashboard', 'Unidad de Medida', unitMeasure.own_name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Unidad de Medida',
        pages: ['Dashboard', 'Unidad de Medida', 'Nuevo']
      });
    },

    mounted(){
      $('#active').lc_switch('Activo', 'Inactivo');

      $('#active').on('lcs-statuschange', () => {
        this.form.active = !this.form.active;
      });
    },

    methods: {
      save() {
        if(this.url == '/unit-measures') {
          axios.post(this.url, this.form).then((response) => {
            swal('Unidad de Medida agregado!');

            //this.$router.push(this.url);
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Unidad de Medida actualizado correctamente!');

            this.$router.push('/unit-measures');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },
    } 
  }
</script>
