<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Unidad de Medida
          </h3>
          <span class="pull-right">
            <router-link to="/unit-measures/create">
              Nuevo Unidad de Medida
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Código Sunat</th>
                  <th>Nombre Propio</th>
                  <th>Categoría</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in unitMeasures">
                  <td>{{ item.sunat_code }}</td>
                  <td>{{ item.sunat_name }}</td>
                  <td>{{ item.category.name }}</td>
                  <td>{{ statusArray[item.active] }}</td>
               	  <td>
               	  	<div class="btn-group">
                      <router-link :to="'/unit-measures/' + item.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(item.id, $event)">
                        Borrar
                      </a>
                    </div> 
               	  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    data: () => {
      return {
        unitMeasures: [],
        statusArray: window.Laravel.status,
      };
    },
    created(){
      Bus.$emit('breadcump', {
        title: 'Unidad de Medida',
        pages: ['Dashboard', 'Unidad de Medida']
      });

      axios.get('/unit-measures').then((data) => {
        console.log(data.data);
        this.unitMeasures = data.data;
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      }); 
    },

    methods: {
      supr(id, e) {
       e.preventDefault();

        swal('¿Realmente deseas borrar este Unidad de Medida?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        }).then((value) => {
          if (!value) {
            return;
          }

          axios.delete('/unit-measures/' + id).then((data) => {
            axios.get('/unit-measures').then((data) => {
              this.unitMeasures = data.data;
            });
          });
        }); 
      }
    }
  }
</script>
