<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h5>Tipo de proyectos </h5>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" v-model="form.name">
                <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
              </div>
            </div>
          </div>
         <!--  <div class="row">
            <div class="col-md-3">
              <div class="form-group">
              <label>Código</label>
              <input type="text" class="form-control" />
              </div>
            </div>
           < <div class="col-md-3">
              <div class="form-group">
                <label>Nro Contrato / OS</label>
                <input type="text" class="form-control" />
              </div>
            </div>
           <div class="col-md-6">
              <div class="form-group">
                <label>Referencia</label>
                <input type="text" class="form-control" />
              </div>
            </div> 
          </div>-->
          <!--<div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label>Nombre del Proyecto</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Cliente</label>
                <select type="text" class="form-control"></select>
              </div>
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Fecha de Inicio</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Fecha de Término</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Fecha de Entrega</label>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Condiciones de Entrega</label>
                <input type="" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Comentarios</label>
                <textarea class="form-control" rows="5"></textarea>
              </div>
            </div>
          </div> -->
        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn button-caution-flat" @click="save()">
            Guardar
          </button>
          <button type="button" class="btn btn-default" @click="$router.go(-1)">
            Descartar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            name: '',
          },
          url: '/project-type',
      };
    },

    mounted() {
      

    },

    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get('/project-type/' + this.id + '/edit').then((data) => {
          let project = data.data[0].name;

          this.form.name = data.data[0].name;

          Bus.$emit('breadcump', {
            title: 'Tipo de proyecto',
            pages: ['Dashboard', 'Tipo de proyecto', project.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Tipo de proyecto',
        pages: ['Dashboard', 'Tipo de proyecto', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/project-type') {
          axios.post(this.url, this.form).then((response) => {
            swal('Tipo de Proyecto agregado!');

            this.$router.push('/project-types'); 
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Banco actualizado correctamente!');

            this.$router.push('/project-types');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },
    },
  }
</script>
