<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Tipos de Proyectos
          </h3>
          <span class="pull-right">
            <router-link to="/project-types/create">
              Nuevo Proyecto
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="project in projectTypes">
                  <td>{{ project.id }}</td>
                  <td>
                    {{ project.name }}                    
                  </td>
                  <td>
                    <div class="btn-group">
                      <router-link :to="'/project-types/' + project.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(project.id, $event)">
                        Borrar
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    data: () => {
      return {
        projectTypes: [],
      };
    },
    created(){
      Bus.$emit('breadcump', {
        title: 'Proyectos',
        pages: ['Dashboard', 'Proyectos']
      });

      axios.get('/project-type').then((data) => {
        this.projectTypes = data.data.projectType;
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      });
    },

    methods: {
      supr(id, e) {
        e.preventDefault();

        swal('¿Realmente deseas borrar este tipo proyecto?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        }).then((value) => {
          if (!value) {
            return;
          }

          axios.delete('/project-type/' + id).then((data) => {
            axios.get('/project-type').then((data) => {
              this.projectTypes = data.data.projectType;
            });
          });
        });
      }
    }
  }
</script>
