<template>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Code</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.code" id="code" class="form-control" />
                    <span class="text-danger" v-if="errors.code">{{ errors.code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" id="name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <!--
                <div class="col-md-3">
                  <label>Fecha Inicial</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input v-if="updateForm" type="text" v-model="form.year" id="name" class="form-control" disabled="disabled" />
                    <select v-else name="annio" v-model="form.year"  class="form-control">
                      <option v-for="(item,index) in listYear" :value="item.year">{{item.year}}</option>
                    </select>
                  </div>
                </div>
                -->
                
                <div class="col-md-3">
                  <label>Fecha Inicial</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <datepicker :disabledDates="disabledDates" @closed="doSelectedDate('from')" :format="customFormatter"  v-model="form.date_from"  input-class="form-control"></datepicker>
                    <span class="text-danger" v-if="errors.date_from_format">{{ errors.date_from_format }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Fecha Final</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <datepicker :disabledDates="disabledDates" @closed="doSelectedDate('to')" :format="customFormatter" v-model="form.date_to"   input-class="form-control"></datepicker>
                    <span class="text-danger" v-if="errors.date_to_format">{{ errors.date_to_format }}</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group" style="text-align:center">
                    <span class="text-danger" v-if="catch_error!=''">{{catch_error}}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn button-caution-flat" @click="save">
                    Guardar
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
                    Descartar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';
  import Datepicker from 'vuejs-datepicker';
  import moment from 'moment'
  
  export default {
    mixins: [FormError],
    data: () => {
      return {
          disabledDates: {
            to: new Date(), // Disable all dates up to specific date
            from: new Date(), // Disable all dates after specific date
          },
          form: {
            name: '',
            code: '',
            id: null,
            year: null,
            date_from: '',
            date_to: '',
            date_from_format: '',
            date_to_format: '',
            idFiscalYear: null,
          },
          url: '/periods',
          year: null,
          listYear: [],
          updateForm: false,
          catch_error: '',
      };
    },
    created(){
     this.form.idFiscalYear = this.$route.params.parent;
     axios.get('/fiscal-year' + '/' + this.form.idFiscalYear + '/edit').then((data) => {
        const fiscalYear = data.data.data;
        
        this.disabledDates.to = new Date(fiscalYear.currentYear, 0, 1);
        this.disabledDates.from = new Date(fiscalYear.currentYear, 11, 31);
        
      });
      
      
      
      if (this.$route.params.id != 'create') {
        this.updateForm = true;
        this.id = this.$route.params.id;

        axios.get(this.url + '/' + this.id + '/edit').then((data) => {
          let costType = data.data.data;
          
          this.form.name = costType.name;
          this.form.code = costType.code;
          this.form.id = costType.id;
          this.form.year = costType.currentYear;

          console.log(costType.date_from);
          console.log(costType.date_to);
          
          const formatDateFrom = moment(costType.date_from,'YYYY-MM-DD')
          const formatDateTo   = moment(costType.date_to,'YYYY-MM-DD')

          this.form.date_from = new Date(formatDateFrom.format('YYYY'), formatDateFrom.format('M')-1, formatDateFrom.format('D'));//moment(costType.date_from,'YYYY-MM-DD').format('DD/MM/YYYY');
          this.form.date_to = new Date(formatDateTo.format('YYYY'), formatDateTo.format('M')-1, formatDateTo.format('D'));//moment(costType.date_to,'YYYY-MM-DD').format('DD/MM/YYYY');
          this.form.date_from_format = costType.date_from;
          this.form.date_to_format = costType.date_to;
          //console.log(moment(costType.date_to,'YYYY-MM-DD').format('DD/MM/YYYY'));
          Bus.$emit('breadcump', {
            title: 'Año Fiscal',
            pages: ['Dashboard', 'Año Fiscal', costType.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        this.form.date_from = this.disabledDates.to;
        this.form.date_to = this.disabledDates.to;
        return;
      }

      Bus.$emit('breadcump', {
        title: 'Año Fiscal',
        pages: ['Dashboard', 'Año Fiscal', 'Nuevo']
      });
    },

    components: {
      Datepicker
    },

    methods: {
      customFormatter(date) {
        return moment(date).format('DD/MM/YYYY');
      },

      doSelectedDate: function(type){
        if (type === 'from') {
          this.form.date_from_format = moment(this.form.date_from).format('YYYY-MM-DD');
        } else if (type === 'to') {
          this.form.date_to_format = moment(this.form.date_to).format('YYYY-MM-DD');
        }
      },

      save() {
        this.catch_error = '';
        if(this.url == '/periods') {
          axios.post(this.url, this.form).then((response) => {
            swal('Periodo agregado!');

            this.$router.push('/fiscal-year/'+this.form.idFiscalYear);
          })
          .catch((errors) => {
              console.log("CREAR");
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }


          axios.put(this.url, this.form).then((response) => {
            swal('Periodo actualizado correctamente!');

            this.$router.push('/fiscal-year/'+this.form.idFiscalYear);
          })
          .catch((errors) => {
              let error = errors.response.data;
              this.catch_error = error.message;
              this.setErrors(error.errors);
          });
        },
    } 
  }
</script>
