<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn button-caution-flat" @click="save">
              Guardar
            </button>
            <button type="button" class="btn btn-default" @click="$router.go(-1)">
              Descartar
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>País</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <select name="country_id" v-model="form.country_id" id="country_id" class="form-control">
                      <option v-for="country in countries" :value="country.id">{{ country.name }}</option>
                    </select>
                    <span class="text-danger" v-if="errors.country_id">{{ errors.country_id }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Código rápido</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.swift_code" id="swift_code" class="form-control" />
                    <span class="text-danger" v-if="errors.swift_code">{{ errors.swift_code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Código de registro</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.vat_code" id="vat_code" class="form-control" />
                    <span class="text-danger" v-if="errors.vat_code">{{ errors.vat_code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Ciudad</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.city" class="form-control" />
                    <span class="text-danger" v-if="errors.city">{{ errors.city }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Código Oficina</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.branch_code" class="form-control" />
                    <span class="text-danger" v-if="errors.branch_code">{{ errors.branch_code }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Dirección</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <textarea v-model="form.address" rows="5" class="form-control"></textarea>
                    <span class="text-danger" v-if="errors.address">{{ errors.address }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Código Postal</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.zip" class="form-control" />
                    <span class="text-danger" v-if="errors.zip">{{ errors.zip }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Estado</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                      <input type="checkbox" v-model="form.status" id="status" />
                  </div>
                </div>
              </div>
             <!-- <pre>
                <p>Codigo País: {{ form.country_id }}</p>
                <p>Código Rapido: {{ form.swift_code }}</p>
                <p>Código Registro: {{ form.vat_code }}</p>
                <p>Nombre: {{ form.name }}</p>
                <p>Ciudad: {{ form.city }}</p>
                <p>Código oficina: {{ form.branch_code }}</p>
                <p>Direcccion: {{ form.address }}</p>
                <p>Código Postal: {{ form.zip }}</p>
                <p>Active: {{ form.status }}</p> 
              </pre> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
          country_id: '1',
          swift_code: '',
          vat_code: '',
          name: '',
          city: '',
          branch_code:'',
          address: '',
          zip: '',
          status: false,
        },

        countries: [],
        url: '/banks'
      };
    },

    mounted() {
      this.getCountries();
      // $('#status').lc_switch('Activo', 'Inactivo');

    },

    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get('/banks/' + this.id + '/edit').then((data) => {
          let bank = data.data.bank;

          $('#swift_code').attr('disabled', true);
          $('#vat_code').attr('disabled', true);

          this.form.country_id = bank.country_id;
          this.form.swift_code = bank.swift_code;
          this.form.vat_code = bank.vat_code;
          this.form.name = bank.name;
          this.form.city = bank.city;
          this.form.branch_code = bank.branch_code;
          this.form.address = bank.address;
          this.form.zip = bank.zip;
          this.form.status = bank.active;
        

          Bus.$emit('breadcump', {
            title: 'Bancos',
            pages: ['Dashboard', 'Bancos', bank.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Bancos',
        pages: ['Dashboard', 'Bancos', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/banks') {
          axios.post(this.url, this.form).then((response) => {
            swal('Banco agregado!');

            this.$router.push('/banks');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Banco actualizado correctamente!');

            this.$router.push('/banks');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
        },

      getCountries() {
        axios.get('/countries').then((response) => {
          this.countries = response.data;
        })
        .catch((err) => {
            console.log(err);
        })
      }
    },
  }
</script>
