<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listado de Bancos
          </h3>
          <span class="pull-right">
            <router-link to="/banks/create">
              Nuevo Banco
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre Corto</th>
                  <th>Nombre</th>
                  <th>Swift</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="bank in banks">
                  <td>{{ bank.short_name }}</td>
                  <td>{{ bank.name }}</td>
                  <td>
                    {{ bank.swift_code }}
                  </td>
                  <td>{{ statusArray[bank.active] }}</td>
                  <td>
                    <div class="btn-group">
                      <router-link :to="'/banks/' + bank.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="supr(bank.id, $event)">
                        Borrar
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    data: () => {
      return {
        banks: [],
        statusArray: window.Laravel.status,
      };
    },
    created(){
      Bus.$emit('breadcump', {
        title: 'Bancos',
        pages: ['Dashboard', 'Bancos']
      });

      axios.get('/banks').then((data) => {
        this.banks = data.data;
      }).catch((data) => {
        switch (data.response.status) {
          case 403:
            swal('Usted no tiene autorización para acceder a este modulo.');

            this.$router.go(-1);
          break;
          default:
            swal('Ha ocurrido un error, por favor informe a de ello');
          break;
        }
      });
    },

    methods: {
      supr(id, e) {
        e.preventDefault();

        swal('¿Realmente deseas borrar este banco?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        }).then((value) => {
          if (!value) {
            return;
          }

          axios.delete('/banks/' + id).then((data) => {
            axios.get('/banks').then((data) => {
              this.banks = data.data;
            });
          });
        });
      }
    }
  }
</script>
