<template>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.name" id="name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Position</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="form.position" id="position" class="form-control" />
                    <span class="text-danger" v-if="errors.position">{{ errors.position }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Tipo de Responsable</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <select class="form-control" v-model="form.responsible_type_id">
                      <option v-for="type in responsibleTypes" :value="type.id">
                        {{ type.name }}
                      </option>
                    </select>
                    <span class="text-danger" v-if="errors.responsible_type_id">{{ errors.responsible_type_id }}</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <hr>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn button-caution-flat" @click="save">
                    Guardar
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">
                    Descartar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
          form: {
            id: null,
            responsible_type_id: '',
            name: '',
            position: '',
          },
          url: '/responsibles',
          responsibleTypes: [],
      };
    },
    created(){
      axios.get('/responsible-types').then((data) => {
        this.responsibleTypes = data.data;
      });

      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get(this.url + '/' + this.id + '/edit').then((data) => {
          let responsible = data.data;

          this.form.name = responsible.name;
          this.form.position = responsible.position;
          this.form.responsible_type_id = responsible.responsible_type_id;
          this.form.id = responsible.id;

          Bus.$emit('breadcump', {
            title: 'Responsables',
            pages: ['Dashboard', 'Responsable', responsible.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Responsables',
        pages: ['Dashboard', 'Responsables', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/responsibles') {
          console.log(this.url, this.form);

          axios.post(this.url, this.form).then((response) => {
            swal('Responsable agregado!');

            this.$router.push(this.url);
          })
          .catch((errors) => {
            let error = errors.response.data;

            this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Responsable actualizado correctamente!');

            this.$router.push('/responsibles');
          })
          .catch((errors) => {
            let error = errors.response.data;

            this.setErrors(error.errors);
          });
        },
    } 
  }
</script>
