<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn button-caution-flat" @click="save">
              Guardar
            </button>
            <button type="button" class="btn btn-default" @click="$router.go(-1)">
              Descartar
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" v-model="form.name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>N° de días</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="number" min="1" v-model="form.days_number" class="form-control" />
                    <span class="text-danger" v-if="errors.days_number">{{ errors.days_number }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
        form: {
          name: '',
          days_number: '',
        },

        url: '/payment-conditions'
      };
    },

    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get('/payment-conditions/' + this.id + '/edit').then((data) => {
          let payment = data.data.payment;

          this.form.name = payment.name;
          this.form.days_number  = payment.days_number

          Bus.$emit('breadcump', {
            title: 'Condiciones de Pago',
            pages: ['Dashboard', 'Condición de Pago', payment.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      } 

      Bus.$emit('breadcump', {
        title: 'Condiciones de Pago',
        pages: ['Dashboard', 'Condiciones de pago', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/payment-conditions') {
          axios.post(this.url, this.form).then((response) => {
            swal('Condición de Pago agregado!');

            this.$router.push('/payment-conditions');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Condición de Pago actualizado correctamente!');

            this.$router.push('/payment-conditions');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
      }
    },
  }
</script>
