<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn button-caution-flat" @click="save">
              Guardar
            </button>
            <button type="button" class="btn btn-default" @click="$router.go(-1)">
              Descartar
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" v-model="form.name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';

  export default {
    mixins: [FormError],
    data: () => {
      return {
        form: {
          name: '',
        },
        id: '',

        countries: [],
        url: '/partner-categories'
      };
    },

    created(){
      if (this.$route.params.id != 'create') {
        this.id = this.$route.params.id;

        axios.get('/partner-categories/' + this.id + '/edit').then((data) => {
          let partner = data.data.partner;

          this.form.name = partner.name;

          Bus.$emit('breadcump', {
            title: 'Categoría Socio',
            pages: ['Dashboard', 'Categoría Socio', partner.name, 'Editar']
          });

          this.url += '/' + this.id;
        });

        return;
      }

      Bus.$emit('breadcump', {
        title: 'Categoría Socio',
        pages: ['Dashboard', 'Categoría Socio', 'Nuevo']
      });
    },

    methods: {
      save() {
        if(this.url == '/partner-categories') {
          axios.post(this.url, this.form).then((response) => {
            swal('Categoría Socio agregado!');

            this.$router.push('/partner-category');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });

          return;
        }

          axios.put(this.url, this.form).then((response) => {
            swal('Categoría Socio actualizado correctamente!');

            this.$router.push('/partner-category');
          })
          .catch((errors) => {
              let error = errors.response.data;

              this.setErrors(error.errors);
          });
      }
    },
  }
</script>
