<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="btn-group">
            <button type="button" class="btn button-caution-flat" @click="save">
              Guardar
            </button>
            <button type="button" class="btn btn-default" @click="$router.go(-1)">
              Descartar
            </button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <div style="overflow:hidden; max-width:150px;">
                <img  style="height:150px; width:150px; cursor: pointer;" id="img-thumb" :src="urlProfile" alt="agregar usuario" @click="clickPicture" class="img-responsive img-circle" />
              </div>
              <input type="file" ref="picture" class="hide" @change="onFileChange" accept="image/*" />
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-3">
                  <label>Usuario</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="username" class="form-control" />
                    <span class="text-danger" v-if="errors.username">{{ errors.username }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Nombre</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="name" class="form-control" />
                    <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Apellido</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="lastname" class="form-control" />
                    <span class="text-danger" v-if="errors.lastname">{{ errors.lastname }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Correo</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" v-model="email" class="form-control" />
                    <span class="text-danger" v-if="errors.email">{{ errors.email }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Contraseña</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="password" v-model="password" class="form-control" />
                    <span class="text-danger" v-if="errors.password">{{ errors.password }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Repetir Contraseña</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="password" v-model="pass2" class="form-control" />
                    <span class="text-danger" v-if="errors.pass2">{{ errors.pass2 }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Firma</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <vue-editor id="editor"
                      useCustomImageHandler
                      @imageAdded="handleImageAdded" v-model="signature">
                    </vue-editor>
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Rol</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <select name="rol" v-model="rol" class="form-control">
                      <option value="-1">Elija Rol</option>
                      <option v-for="(item, index) in roles" :key="index" :value="item.id">
                        {{item.name}}
                      </option>
                    </select>
                    <span class="text-danger" v-if="errors.role_id">{{ errors.role_id }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';
  import FormError from './../../mixins/FormErrorsMix';
  import { VueEditor } from 'vue2-editor'
  
  export default {
    mixins: [FormError],
    data: () => {
      return {
        username: '',
        name: '',
        lastname: '',
        email: '',
        password: '',
        pass2: '',
        signature: '',
        picture: '',
        rol: '-1',
        id: '',
        url: '/users',
        roles: [],
        
        profileImage: null,
        urlProfile:'img/add_user.png',
      };
    },
    created(){
      if (this.$route.params.id != 'create') {
        this.getUser();
      } else {
        Bus.$emit('breadcump', {
          title: 'Usuarios',
          pages: ['Dashboard', 'Usuarios', 'Nuevo']
        });
      }

      this.listRoles();
    },
    components: {
      VueEditor
    },
    methods:{
      getUser: function(){
        this.id = this.$route.params.id;
        const _this = this;
        axios.get(route('users.show',{'user': this.id}).url())
        .then(function(response){
          let user = response.data.data;

          _this.username   = user.username;
          _this.name       = user.name;
          _this.lastname   = user.lastname;
          _this.email      = user.email;
          _this.signature  = user.signature;
          _this.rol        = user.role_id;

          if (user.picture_name_random !== '') {
            _this.urlProfile = window.Laravel.asset_storage_profile+user.picture_name_random;
          }

          Bus.$emit('breadcump', {
            title: 'Usuarios',
            pages: ['Dashboard', 'Usuarios', user.name, 'Editar']
          });

          _this.url += '/' + _this.id;
        });

        return;
      },

      listRoles: function(){
        const _this = this;
        axios.get(route('roles.list').url())
          .then(function(response){
            _this.roles = response.data.data;
          })
          .catch(function(error){
            console.log(error);
            switch (error.response.status) {
              case 403:
                swal('Usted no tiene autorización para acceder a este modulo.');
                this.$router.go(-1);
              break;
              default:
                swal('Ha ocurrido un error, por favor informe a de ello');
              break;
            }
          });
      },

      clickPicture: function()
      {
        this.$refs.picture.click();
      },

      save(){
        console.log(this.url);
        const _this = this;

        const formData = new FormData();

        formData.append('username', this.username);
        formData.append('name', this.name);
        formData.append('lastname', this.lastname);
        formData.append('email', this.email);
        formData.append('password', this.password);
        formData.append('pass2', this.pass2);
        formData.append('signature', this.signature);
        formData.append('picture', this.profileImage);
        formData.append('role_id', this.rol);

        if(this.url == '/users'){
          axios.post(route('users.store').url(),
                    formData, 
                    {
                      headers: {
                        'Content-Type': 'multipart/form-data',
                      }        
                    }
          ).then(function(data){
            let user = data.data.user;
            new swal('Usuario nuevo agregado!');
            _this.profileImage = null;
            _this.$router.push('/users');
          }).catch((errors) => {
            let error = errors.response.data;
            _this.setErrors(error.errors);
          });

          return;
        }

        const formDataUpdate = new FormData();

        formDataUpdate.append('username', this.username);
        formDataUpdate.append('name', this.name);
        formDataUpdate.append('lastname', this.lastname);
        formDataUpdate.append('email', this.email);
        formDataUpdate.append('password', this.password);
        formDataUpdate.append('pass2', this.pass2);
        formDataUpdate.append('signature', this.signature);
        formDataUpdate.append('picture', this.profileImage);
        formDataUpdate.append('role_id', this.rol);
        formDataUpdate.append(' _method', 'PUT');       

        axios.post(this.url, 
                    formDataUpdate, 
                    {
                      headers: {
                        'Content-Type': 'multipart/form-data',
                      }        
                    }
        ).then((data) => {
          let user = data.data.user;

          new swal('Usuario Actualizado Correctamente!');

          this.$router.push('/users');
        }).catch((errors) => {
          let error = errors.response.data;

          console.log(error);

          this.setErrors(error.errors);
        });
      },
      handleImageAdded(){

      },
      onFileChange(event) {
        
        if (typeof event.target.files[0].type !== 'undefined') {
            if(event.target.files[0].type.includes('image')) {
                this.profileImage = event.target.files[0];
                this.urlProfile = URL.createObjectURL(this.profileImage);
                this.flagSnap = false;
            }
        }
        
      },
      createImage(file) {
        let reader = new FileReader();

        reader.onload = (e) => {
          this.picture = e.target.result;

          document.querySelector('#img-thumb').src = this.picture;
        };

        reader.readAsDataURL(file);
      },
    },
  }
</script>
<style>
  #editor{
    border-bottom-left-radius: 4px; 
    border-bottom-left-radius: 4px;
  }
</style>
