<template>
	<div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listado de Usuarios
          </h3>
          <span class="pull-right">
            <router-link to="/users/create">
              Nuevo Usuario
            </router-link>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Rol</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, index) in users" :key="index">
                  <td>
                    {{ user.username }}
                  </td>
                  <td>
                    {{ user.name }}
                  </td>
                  <td>
                    {{ user.email }}
                  </td>
                  <td>
                    {{ user.role.name }}
                  </td>
                  <td>
                    {{ user.status }}
                  </td>
                  <td>
                    <div class="btn-group">
                      <router-link :to="'/users/' + user.id" class="btn btn-warning btn-xs">
                        Editar
                      </router-link>
                      <a href="#" class="btn button-caution-flat btn-xs" @click.prevent="deleteUser(user.id, $event)">
                        Borrar
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from './../../EventBus';
  import axios from 'axios';

  export default {
    data() {
      return {
        users: [],
      }
    },
    created(){
      Bus.$emit('breadcump', {
        title: 'Usuarios',
        pages: ['Dashboard', 'Usuarios']
      });

      this.listUsers();
    },
    methods: {
      listUsers: function(){
        const _this = this;
        axios.get(route('users.index').url())
          .then(function(response){
            console.log(response);
            _this.users = response.data.data;
            
          })
          .catch(function(error){
            console.log(error);
            switch (error.response.status) {
              case 403:
                swal('Usted no tiene autorización para acceder a este modulo.');
                this.$router.go(-1);
              break;
              default:
                swal('Ha ocurrido un error, por favor informe a de ello');
              break;
            }
          });
      },

      deleteUser: function(id, e){
        const _this = this;
        swal('¿Realmente deseas borrar este usuario?', '', 'warning', {
          buttons: [
            'No, Cancelar',
            'Sí, Borrar'
          ]
        })
        .then(function(value){
          if (!value) return false;
          
          axios.delete(route('users.destroy',{'user': id}).url())
          .then(function(response){
            _this.listUsers();
          });
        });
      }
    }
  }
</script>
